#content {
    height: inherit;
}

header .logo {
    background-size: 110px 36px !important;
}

figcaption a span {
    font-size: 21px !important;
    font-weight: 400;
}

figcaption a {
    font-size: 16px !important;
    font-weight: 600;
}

figcaption a.address {
    font-size: 14px !important;
    font-weight: 600;
}

#content h3 {
    font-size: 21px;
}

#home section:nth-child(3) .big figure {
    height: inherit !important;
}

.hairfie-singleView#content .single-view #carousel-hairfie {
    height: inherit !important;
}

/* Fix car pas de bouton like pour le moment */
.hairfie-singleView#content .single-view .like-group .cta {
  width: 100%;
}

.salon#content section.salon-content section .coiffeur img {
  //min-width: 100%;
  //min-height: 100%;
}

.cal {
  width: 100%;
}

.cal caption {
    display: table-caption;
    font-size: 21px;
}

.cal thead {
    font-size: 12px;
}

.cal td {
    font-size: 16px;
}

/* Homepage Pro */
.dropdown-menu.login {
  right: 0;
  left: auto;
  min-width: 290px;
  padding: 10px;
  top: 57px;
}

.loading {
  width: 100%; height: 100%;
  min-height: 100px;
  max-height: 200px;
  background:url(/img/loader_128.png) no-repeat center center;
  background-size: 64px 64px;
  -webkit-animation: spinX 2s infinite cubic-bezier(0.3, 0.01, 0.58, 1);
  -moz-animation: spinX 2s infinite cubic-bezier(0.3, 0.01, 0.58, 1);
  -o-animation: spinX 2s infinite cubic-bezier(0.3, 0.01, 0.58, 1);
  animation: spinX 1.5s infinite cubic-bezier(0.3, 0.01, 0.58, 1);
}

@-webkit-keyframes spinX {
  from   { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-moz-keyframes spinX {
  from   { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@-o-keyframes spinX {
  from   { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes spinX {
  from   { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.write-review {
  margin-top: 85px;
}

div#app {
  overflow-x: hidden;
}

#content.reservation.confirmation .confirm-bloc-form form label {
  width: inherit;
  line-height: 30px;
  height: 30px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  margin: auto;
}

.carousel-inner .item {
    background: none;
}

.carousel-inner .item.placeholder {
  height: 470px;
  background: url(../images/placeholder-salon-img.jpg) no-repeat center center;
  background-size: cover;
}

.carousel-inner .item img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #838B95;
    width: 100%;
    height: 100%;
}

#content.search .main-content .tab-pane section .rating .note {
  margin-top: -4px;
}

.salon#content section.salon-content section .map {
  background: #E9E5DC;
}
