$fa-font-path: "../components/font-awesome/fonts";
$icon-font-path: "../components/bootstrap/fonts/";

@import "../components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../components/bootstrap-social/bootstrap-social.scss";
@import "../components/font-awesome/scss/font-awesome.scss";

// // @import "../fonts/socicon/socicon.css";

body {
    font-size: 1em; font-size: 100%; font-size: 10px;
    width: 100%; height: 100%;
    overflow-x: hidden;
}

.landing header.hidden-xs, .headline, .searchbar.hidden-xs {
    opacity: 0;
}

.no-js {
    .landing header.hidden-xs, .headline , .searchbar.hidden-xs {
      opacity: 1;
    }
}

@import "main";
@import "temp";


// //@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
// //@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

// // // Import variales and helpers:
// // @import "front/variables";
// // @import "front/helpers";
// // @import "front/buttons";
// // @import "front/calendar";

// // // Import general styles:
// // @import "front/general";

// .front {
//     // Import page specific style:
//     // @import "front/header";
//     // @import "front/footer";
//     // @import "front/page-home";
//     // @import "front/page-search";
//     // @import "front/page-salon";
//     // @import "front/page-hairfie";
// }

@import "backoffice/colors";
@import "backoffice/homePro";
@import "backoffice/starRating";

.backoffice {
    @import "backoffice/colors";
    @import "backoffice/icons";
    @import "backoffice/main";
    @import "backoffice/header";
    @import "backoffice/business";
    @import "backoffice/hairfie";
    @import "backoffice/home";
    @import "backoffice/homePro";
    @import "backoffice/dashboard";
    @import "backoffice/proLayout";
    @import "backoffice/hairfiesList";
    @import "backoffice/typeahead";
    @import "backoffice/search";
    @import "backoffice/booking";
    @import "backoffice/starRating";
    @import "backoffice/form";
}