$fa-font-path: "../components/font-awesome/fonts";
$icon-font-path: "../components/bootstrap/fonts/";

@import "../components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "../components/bootstrap-social/bootstrap-social.scss";
@import "../components/font-awesome/scss/font-awesome.scss";

// // @import "../fonts/socicon/socicon.css";

body {
    font-size: 1em; font-size: 100%; font-size: 10px;
    width: 100%; height: 100%;
    overflow-x: hidden;
}

.landing header.hidden-xs, .headline, .searchbar.hidden-xs {
    opacity: 0;
}

.no-js {
    .landing header.hidden-xs, .headline , .searchbar.hidden-xs {
      opacity: 1;
    }
}

@import "temp";

@import "various/colors";
@import "various/homePro";
@import "various/starRating";

// LUCAS  BELOW

@import "partials/variables";
@import "partials/helpers";
@import "partials/buttons";
@import "partials/calendar";
//@import "partials/datepicker-override";

// Import general styles:
@import "partials/general";

// Import page specific style:
@import "partials/header";
@import "partials/footer";
@import "partials/page-home";
@import "partials/page-search";
@import "partials/page-salon";
@import "partials/page-hairfie";
@import "partials/page-resa";

//Bastien CSS work
@import "partials/connect";

