$hairfie-width: 225px;
$circle-width: 25px;

.red-circle {
    width: $circle-width;
    height: $circle-width;
    color: white;
    font-weight: 200;
    border-radius: 50%;
    text-align: center;
    background: $red-hairfie;
    font-size: 10px;
}


.hairfies-list {
    margin: auto;

    .hairfie-picture {
        display: inline-block;
        // width: $hairfie-width;
        // height: $hairfie-width;
        // line-height: $hairfie-width;
        // padding-right: 30px;
        padding-bottom: 30px;

        .img-container {
            position: relative;

            img {
                &.main-picture {
                    width: 100%;
                    border-radius: 5px;
                }

                &.thumb {
                    width: 25%;
                      position: absolute;
                      top: 5;
                      right: 5;
                      border-radius: 2px;
                      border: 1px solid white;
                }
            }
        }

        .circle {
            @extend .red-circle;
            line-height: $circle-width;
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .delete-button {
            @extend .red-circle;
            line-height: 1;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }
}