.home-pro {
    margin-top: -120px;
    //bottom: 0;
    width: 100%;
    background: url(../img/background-pro-trans.jpg);
    background-position: no-repeat center center fixed;
    padding-top: 100px;
    background-size: cover;

    @media screen and (min-width: $screen-sm-min) {
        height: 100%;
        margin-bottom: 0px;
    }

    li {
        color: white;
        span, strong {
            color: black;
        }
    }

    .row.first {
        margin-top: 40px;


        .left {
            padding: 40px;

            p.list {
                margin-top: 20px;
            }

            li {
                font-size: 16px;
            }

            ul {
                //margin-left: -20px;
            }

            p.btn-app-store {
                text-align: center;
            }
        }

        .claim {
            background-color: rgba(255,255,255,0.8);
            padding: 30px;
            //margin-top: 30px;

            @media screen and (max-width: $screen-sm-min) {
                //margin: 30px;
                margin: auto;
                max-width: 80%;
            }

            h3 {
                margin-top: 0px;
                font-size: 20px;
            }

            .form-group {
                margin-bottom: 5px;
            }

            .btn-red {
                font-weight: 200;
            }
        }

        @media screen and (max-width: $screen-sm-min) {
            h1 {
                font-size: 20px;
                text-align: center;
            }

            li {
                font-size: 18px;
            }
        }

    }
    .btn-app-store {
        margin-top: 40px;

        .btn img {
            padding: 0;
            width:202px;
            height:64px;
        }
    }

    .btn-app-store .btn img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 180px;
        height: auto;
    }
}