.connect-form {
	border: 1px solid $grey2;
	div.nav {
		margin: 0px -15px;
		a {
			border-bottom: 1px solid $grey2;
			&:first-child {
				border-right: 1px solid $grey2;
			}
			&.active {
				p.link-style {
					color: $hairfie;
				}
				&:after {
					content: " ";
				    height: 5px;
				    width: 100%;
				    background-color: #fc5a5f;
				    position: absolute;
				    top: -5px;
				    left: 0;
				    border-top-left-radius: 2px;
				    border-top-right-radius: 2px;
				}
			}
			padding: 20px 0px;
			display: inline-block;
			text-align: center;
			p {
				font-size: 1.5em;
    			font-weight: bolder;
				&.link-style {
					text-decoration: underline;
				}
			}
			color: $grey3;
			&:focus, &:hover {
				color: $grey3;
				text-decoration: none;
			}
		}
	}
	div.connect-button {
		.facebook { margin: 0px 25px;}
	}
	h2, h4 {
		text-align: center;
		font-size: 1.5em;
		color: $grey3;
		font-weight: bolder;
	}
	h2 {
		margin: 15px 0px 20px 0px;
	}
	h4 {
		margin: 5px 0px 30px 0px;
	}
	a.forgot-password, p.red {
	    text-align: center;
	    width: 100%;
	    display: block;
	    font-size: 1.5em;
	    margin-bottom: 40px;
	}
	a.forgot-password {
		color: black;
		text-decoration: underline;
		outline: none;
	}
	padding-top: 1px;
	margin-top: 15px;
	@media screen and (max-width: $screen-xs-max) {
		margin-top: 115px;
	}
	margin-bottom: 75px;
	background-color: #FFFFFF;
	a.full {
		display: block;
	    height: 50px;
	    text-transform: uppercase;
	    border-radius: 0;
	    font-weight: 600;
	    letter-spacing: 2px;
	    line-height: 40px;
	    margin: 0px 25px 20px;
	}
	form.form {
		div.form-group {
			margin: 10px 25px 15px;
			input.form-control {
				background-color: white;
  				height: 50px;
  				padding-left: 30px;
  				padding-right: 30px;
  				border-radius: 0;
			}
			div.infos {
				a {
					font-size: 1.2em;
	 				font-weight: 400;
				}
			}
			label.radio-inline {
  				margin-right: 10px;
  				height: 30px;
  				font-size: 1.4em;
  				color: $font-color;
				input	{
  					background-color: white;
  					border: 1px solid #eeeeee;
  					margin-bottom: 10px
				}
			}
		}
		p {
			margin-left: 25px;
    		font-size: 1.5em;
    		font-weight: bolder;
		}
		label.register-checkbox {
			margin-left: 4px;
			font-weight: 400;
			padding-left: 40px;
			padding-bottom: 15px;
			font-size: 1.4em;
			color: $grey4;
			span {
				&:before {
					border: 1px solid $grey4;
					box-shadow: none;
				}
			}
			a {color: darkblue;}
		}
		.uploadFile {
			display: block;
			font-size: 1.4em;
		}
	}
}