$open-color: #00CF98;

.booking {

    .row {
        margin-top: 50px;
    }

    .left {
        .business {
            h2 { font-size: 25px; }
            span.address { font-size: 18px; }
            height: 150px;
            text-align: center;
            max-width: 350px;
            margin: auto;
        }

        .picture {
            height: 100%;

            img {
                max-height: 100%
            }
        }

        .rbc-calendar {
            max-width: 350px;
            margin: auto;
        }

        .timeselect {
            max-width: 350px;
            margin: auto;
        }
    }

    .right {
        background-color: $background-grey;
        padding: 30px;

        form {
            max-width: 350px;
            margin: auto;
        }
    }
}

.rbc-calendar td,
.rbc-calendar th {
  text-align: center;
}
.rbc-calendar td {
  border-radius: 5px;
}
.rbc-calendar td.today {
  background-color: #ddd;
}

.rbc-calendar td.bookable {
    cursor: pointer;
    background-color: $open-color;
    &.selected {
        background-color: #357ebd;
        color: #fff;
        font-weight: bold;
    }
}
.rbc-calendar td.disabled {

}

.btn.timeslot {
    margin: 5px;
}

.btn.timeslot:focus { outline: none; }

.btn.timeslot.selected {
    background-color: #357ebd;
    color: #fff;
    font-weight: bold;
}