$open-color: #00CF98;

.rbc-calendar td,
.rbc-calendar th {
  text-align: center;
}
.rbc-calendar td {
  border-radius: 5px;
}
.rbc-calendar td.today {
  background-color: #ddd;
}

.rbc-calendar td.bookable {
    cursor: pointer;
    background-color: $open-color;
    &.selected {
        background-color: #357ebd;
        color: #fff;
        font-weight: bold;
    }
}
.rbc-calendar td.disabled {

}