div.row#business-header {
    height: 300px;
    margin-top: 20px;
    div.pictures {
        height: 100%;
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    div.infos {
        height: 100%;
        h1 {
            font-weight: 200;
            font-size: 28px;
        }

        p.info {
            border-bottom: 1px solid $grey-separator;
            font-size: 16px;
        }
    }

    div.map {
        height: 100%;
        #gmap-business {
            width: 100%;
            height: 300px;
        }
    }
}

div#business-content {
    margin-top: 37px;
    .timetable {
        background-color: white;
        border-radius: 5px ;
        div.header {
            width:80%;
            display: inline-block;
            margin-left: 10%;
            margin-bottom: 16px;

            .icon-timetable {
                margin-top: 10px;
                margin-bottom: -4px;
            }

            h4 {
                color: $red-title;
                display: inline-block;
                padding-left: 10px;
            }

            border-bottom: 1px solid $grey-separator;

        }
    }
}