div.row#business-header {
    height: 300px;
    margin-top: 20px;
    div.pictures {
        height: 100%;
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    div.infos {
        height: 100%;
        h1 {
            font-weight: 200;
            font-size: 28px;
            margin-bottom: 40px;
        }

        p.info {
            border-bottom: 1px solid $grey-separator;
            font-size: 16px;
            min-height: 30px;

            &.address {
                min-height: 50px;
            }

            span {
                display: inline-block;
                float: left;
            }

            .icon {
                float: left;
            }

            span.content {
                margin-left: 20px;
                font-size: 16px;
                min-height: 100%;
            }

            .label {
                font-size: 14px;
                font-weight: 200;
            }
        }
    }

    div.map {
        height: 100%;
        padding: 0;
        #gmap-business {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
}

div#business-content {
    margin-top: 37px;
    .reviews-price {
        > div {
            width: 100%;
            background-color: white;
            border-radius: 5px;
            margin-bottom: 30px;
            min-height: 50px;
            padding: 20px;
        }

        h3 {
            color: $red-title;
            display: inline-block;
        }

        .review {
            min-height: 110px;
            font-weight: 200;

            .review-content {
                text-transform: uppercase;
                font-style: 16;
            }
        }

        .price {
            border-top: 1px solid $grey-separator;
            min-height: 50px;
            line-height: 20px;
            padding-top: 3px;
            padding-bottom: 3px;
            .name {
                font-weight: 200;
                text-transform: uppercase;
                font-style: 16;
            }

            .amount {
                position: absolute;
                right: 30px;
                width: 30px;
            }
        }
    }
    .timetable {
        background-color: white;
        border-radius: 5px;
        padding: 20px;
        div.header {
            width:100%;
            display: inline-block;
            //margin-left: 10%;
            margin-bottom: 16px;

            .icon-timetable {
                margin-top: 10px;
                margin-bottom: -4px;
            }

            h3 {
                color: $red-title;

                .icon-timetable {
                    margin-top: 0px;
                    margin-bottom: -2px;
                    margin-right: 5px;
                }
            }

            border-bottom: 1px solid $grey-separator;

        }
    }
}

div.day {
    min-height: 30px;
    //margin-left: 10%;
    width:100%;
    margin-bottom: 5px;

    span {
        display: inline-block;
        float: left;
    }
    span.name {
        font-weight: 600;
        width: 50px;
        text-transform: uppercase;
    }
    span.value {
        p.time {
            margin-bottom: 4px;
        }
    }
}