div.row#business-header {
    height: 300px;
}

div.pictures {
    img {
        max-width: 80%;
        max-width: 80%;
    }
}

div.infos {
    h1 {
        font-weight: 200;
        font-size: 28px;
    }

    p.info {
        border-bottom: 1px solid $grey-separator;
        font-size: 16px;
    }
}