/*////////////////////////////////
   B U T T O N S  &  I N P U T
////////////////////////////////*/
.btn-red, .btn-blue, .btn-orange, .btn-green, .btn-white, .btn-book {
    @extend .btn;
    &.btn-red {
        background-color: $hairfie;
    }
    &.btn-blue {
        background-color: $lightblue;
    }
    &.btn-green {
        background-color: green;
    }
    &.btn-orange {
        background-color: orange;
    }
    &.btn-white {
        background-color: white;
    }
    &.btn-book {
        background-color: $book;
        border-bottom-color: $book-darker;
    }

    border: none;
    color: white;
    font-family: $font-main;
    font-weight: $regular;
    font-size: 1.6em;
    letter-spacing: 1px;

    @include transition(all 0.3s ease-out);

    &:hover, &:focus {
        &.btn-red {
        background-color: darken($hairfie, 5%);
        color: white;
        }
        &.btn-blue {
        background-color: darken($lightblue, 5%);
        color: white;
        }
        &.btn-orange {
        background-color: darken(orange, 5%);
        color: white;
        }
        &.btn-green {
        background-color: darken(green, 5%);
        color: white;
        }
        &.btn-white {
        background-color: darken(white, 5%);
        color: white;
        }
        &.btn-book {
            background-color: $book-lighter;
            color: white;
        }

    }
    &:hover {
        @include transition(all 0.3s ease-out);
    }
    &:active {
        // OLD LESS :  #gradient@include vertical(darken($red, 8%); darken($red, 5%); 10%;100%;);
        // FIXME @include gradient-vertical(darken($red, 8%) darken($red, 5%) 10% 100%);
    }
}
.carousel-control {
    background: transparent !important;
    &:hover {
        background: transparent !important;
    }
}
span.arrow {
    width: 20px;  height: 37px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -19px;
}
span.arrow-left {
    background: url(../images/arrow-left.png) no-repeat center center;
    left: 60px;
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
span.arrow-right {
    background: url(../images/arrow-right.png) no-repeat center center;
    right: 60px;
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
div.connect-button {
    div span {
        display: block;
        text-align: center;
        color: white;
        font-size: 1.8em;
        padding-top: 14px;
        padding-left: 60px;
    }
    .facebook {
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        height: 60px;
        margin: 10px;
        background-color: $facebook-bg;
        &:before {
            content: " ";
            background: url(../../img/facebook@2x.png) no-repeat center center;
            position: absolute;
            width: 60px;
            height: 60px;
            margin-left: 5px;
        }
    }
    .twitter {
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        height: 60px;
        margin: 10px;
        background-color: $twitter-bg;
        &:before {
            content: " ";
            background: url(../../img/twitter@2x.png) no-repeat center center;
            position: absolute;
            width: 60px;
            height: 60px;
            margin-left: 5px;
        }
    }
}
.btn-frame, .btn-frame-blue, .btn-frame-red, .btn-frame-yellow, .btn-frame-green, .btn-frame-orange, .btn-frame-darkgrey {
    @extend .btn;
    border-color: $grey;
    border-width: 2px;
    border-top-width: 4px;
    border-radius: 0px;
    min-height: 50px;
    padding-top: 10px;
    &.btn-frame {
        border-top-width: 2px;
    }
    &.btn-frame-blue {
        border-top-color: blue;
    }
    &.btn-frame-red {
        border-top-color: red;
    }
    &.btn-frame-orange {
        border-top-color: orange;
    }
    &.btn-frame-yellow {
        border-top-color: yellow;
    }
    &.btn-frame-green {
        border-top-color: green;
    }
    &.btn-frame-darkgrey {
        border-top-color: $darkgrey;
    }
}