/*////////////////////////////////
   B U T T O N S  &  I N P U T
////////////////////////////////*/
.btn-red {
    background-color: $red;
    color: white;
    font-family: $font-main;
    font-weight: $regular;
    font-size: 1.6em;
    letter-spacing: 1px;

    @include transition(all 0.3s ease-out);

    &:hover {
        background-color: darken($red, 5%);
        color: white;
        @include transition(all 0.3s ease-out);
    }

    &:active {
        // OLD LESS :  #gradient@include vertical(darken($red, 8%); darken($red, 5%); 10%;100%;);
        // FIXME @include gradient-vertical(darken($red, 8%) darken($red, 5%) 10% 100%);
    }

    &:focus {
        background-color: darken($red, 5%);
        color: white;
    }
}
.carousel-control {
    background: transparent !important;
    &:hover {
        background: transparent !important;
    }
}
span.arrow {
    width: 20px;  height: 37px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -19px;
}
span.arrow-left {
    background: url(../images/arrow-left.png) no-repeat center center;
    left: 60px;
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
span.arrow-right {
    background: url(../images/arrow-right.png) no-repeat center center;
    right: 60px;
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
