/*////////////////////////////////
   B U T T O N S  &  I N P U T
////////////////////////////////*/
.btn-red, .btn-blue, .btn-orange, .btn-green, .btn-white, .btn-book, .btn-review, .btn-whitered {
    @extend .btn;
    &.btn-red {
        background-color: $hairfie;
    }
    &.btn-blue {
        background-color: $lightblue;
    }
    &.btn-green {
        background-color: green;
    }
    &.btn-orange {
        background-color: orange;
    }
    &.btn-white {
        background-color: white;
    }
    &.btn-book {
        background-color: $book;
        border-bottom-color: $book-darker;
    }

    &.btn-review {
        background-color: $hairfie !important;
        text-transform: uppercase;
        width: 180px;
        padding: 2px 7px;
        span {
            line-height: 21px;
            margin-left: 5px;
            margin-top: 3px;
            margin-bottom: 3px;
        }
        @include flex-center;
        i {
            content: ' ';
            background: url(../img/icons/star-white.svg) no-repeat center center;
            background-size: contain;
            width: 20px;
            height: 20px;
            margin-bottom: 4px;
        }

        &:hover {
            color: white;
            background: rgba(254, 91, 95, .8) !important;
        }
    }

    &.btn-whitered {
        border-radius: 0;
        background-color: white;
        border: 1px solid $grey3;
        color: $grey3;
        letter-spacing: 0;
        text-transform: uppercase;
    }
    border: none;
    color: white;
    font-family: $font-main;
    font-weight: $regular;
    font-size: 1.6em;
    letter-spacing: 1px;

    @include transition(all 0.3s ease-out);

    &:hover, &:focus {
        &.btn-red {
        background-color: darken($hairfie, 5%);
        color: white;
        }
        &.btn-blue {
        background-color: darken($lightblue, 5%);
        color: white;
        }
        &.btn-orange {
        background-color: darken(orange, 5%);
        color: white;
        }
        &.btn-green {
        background-color: darken(green, 5%);
        color: white;
        }
        &.btn-white {
        background-color: darken(white, 5%);
        color: white;
        }
        &.btn-book {
            background-color: $book-lighter;
            color: white;
        }
        &.btn-whitered {
            background-color: $hairfie;
            color: white;
            border-color: white;
        }

    }
    &:hover {
        @include transition(all 0.3s ease-out);
    }
    &:active {
        // OLD LESS :  #gradient@include vertical(darken($red, 8%); darken($red, 5%); 10%;100%;);
        // FIXME @include gradient-vertical(darken($red, 8%) darken($red, 5%) 10% 100%);
    }
}
.carousel-control {
    background: transparent !important;
    &:hover {
        background: transparent !important;
    }
}
span.arrow {
    width: 20px;  height: 37px;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -19px;
}
span.arrow-left {
    background: url(../img/arrow-left.png) no-repeat center center;
    left: 60px;
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
span.arrow-right {
    background: url(../img/arrow-right.png) no-repeat center center;
    right: 60px;
    @media screen and (max-width: $screen-sm-max) {
        margin-top: 20px;
    }
}
div.connect-button {
    div span {
        display: inline-block;
        color: white;
        font-size: 1.8em;
        @media screen and (max-width: $screen-xs-max) {font-size: 1.6em;}
        &:not(.socicon) {
            padding-top: 10px;
        }
        &.socicon {
            font-size: 2.5em;
            position: absolute;
            left: 5%;
            top: 7px;
        }
    }
    .facebook {
        &:before {
            @media screen and (max-width: $screen-xs-max) {
                left: 0;
                content: ' ';
                position: absolute;
                background-color: #43609c;
                top: 0;
                width: 17%;
                height: 100%;
            }
        }
        @media screen and (max-width: $screen-xs-max) {padding-left: 17%;}
        position: relative;
        text-align: center;
        cursor: pointer;
        border: 1px solid $grey2;
        overflow: hidden;
        height: 50px;
        margin: 10px;
        background-color: $facebook-bg;
    }
}
.btn-frame, .btn-frame-blue, .btn-frame-red, .btn-frame-yellow, .btn-frame-green, .btn-frame-orange, .btn-frame-darkgrey {
    @extend .btn;
    border-color: $grey;
    border-width: 2px;
    border-top-width: 4px;
    border-radius: 0px;
    min-height: 50px;
    padding-top: 10px;
    &.btn-frame {
        border-top-width: 2px;
    }
    &.btn-frame-blue {
        border-top-color: blue;
    }
    &.btn-frame-red {
        border-top-color: red;
    }
    &.btn-frame-orange {
        border-top-color: orange;
    }
    &.btn-frame-yellow {
        border-top-color: yellow;
    }
    &.btn-frame-green {
        border-top-color: green;
    }
    &.btn-frame-darkgrey {
        border-top-color: $darkgrey;
    }
}