$grey-hairfie: #94999d;
$grey-header: #F9F9FA;
$grey-body: #F6F6F7;
$grey: #818896;
$grey-separator: #E5E5E8;
$red-title: #FE5B5F;
$red-hairfie: #EA5C62;
$hairfie: #fe5b5f;
$black: #333E49;
$grey-footer: #dfe1e4;
$dark-grey: #929292;
$background-grey: #eeeeee;
$discount-color: #ff6600;
$discount-background-color: #F9F9FA;
$open-color: #5cb85c;

.label-red {
    @extend .label-default;
    background-color: $hairfie;
}

.label-discount {
    @extend .label-default;
    background-color: $discount-color;
}

.btn-red {
    @extend .btn;
    background-color: $hairfie;
    color: white;
    border: none;
    &:hover {
        color: $grey;
    }
}

.btn-red a, a .btn-red {
    color: white;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $grey;
    }
}

.formControl .media-object.thumbnail {
    width: 58px;
    height: 58px;
}