.dashboard {
  .main {
    padding: 30px;
  }

  @media (min-width: $screen-sm-min) {
    .main {
      margin-top: 100px;
    }
  }
}

.navbar-nav > li > .dropdown-menu {
    max-height: 1000px;
    overflow-x: scroll;
}