.dashboard {
  .main {
    padding: 30px;
  }

  @media (min-width: $screen-sm-min) {
    .main {
      margin-top: 100px;
    }
  }
}

.navbar-nav > li > .dropdown-menu {
    max-height: 1000px;
    overflow-x: scroll;
}

.business-item {

}

.business-dashboard {
  h3, h1 {
    font-weight: 200;
  }

  .title {
    padding: 15px;

    span {
      display: inline-block;
    }
    img {
      height: 30px;
      width: 30px;
      margin-top: 0px;
      margin-bottom: 15px;
      margin-right: 15px;
    }
  }
  .business-dashboard-item .thumbnail {
    height: 150px;

    a {
      position: absolute;
      bottom: 30px;
      right: 25px;
    }
  }
}
.business-photos {
  .thumbnail img {
    padding: 9px;
  }
}