/*////////////////////////////////
	   F O O T E R
////////////////////////////////*/
footer {
	background-color: #474747;
	padding-top: 55px;
	@include fullWidthBg($bgfooter);
	@media screen and (max-width: $screen-sm-min) {
		@include hide;
	}
	p, h4 {
		font-weight: $regular;
		color: white; text-align: center;
		letter-spacing: .5px;
		position: relative;
	}
	p:last-child {
		margin-bottom: 0;
	}
	.hr {
		@include hr(#6b6b6b,2px,20px);
	}
	a.app-dl {
		position: absolute;
		width: 204px;height: 64px;
		background: url(../img/btn-app-dl.png) no-repeat center center;
		background-size: 100%;
		top: 50%;
		right: 5%;
	}
	.footer-bg {
		background-color: $bgfooter;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		@media screen and (min-width: $screen-lg-min) {
			height: 480px;
		}
		@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			height: 500px;
		}

	}
	.footer-links {
		list-style-type: none;
		margin: 0 auto;padding: 0;
		text-align: center;
		@include nofloat;
		li {
			padding-left: 20px;
			padding-right: 20px;
			display: inline-block;
			width: auto;
			text-wrap: no-wrap;
			font-family: $font-second;
			font-size: 1em;
			letter-spacing: .5px;
			opacity: 0.4;
			&:hover {
				opacity: 1;
			}
			a:hover {
				text-decoration: none !important;
			}
		}
		li:last-child {
			position: relative;
			height: 2.2em;
			.btn-red {
				position: absolute;
				top:-7px;
				@media screen and (max-width: 880px) {
					left: -80px;
				}
			}
		}
		a {
			font-size: 1.6em;
			font-weight: $regular;
			color: white;
			letter-spacing: .5px;
		}
	}
	.suggestion {
		margin-bottom: 40px;
		p, a {
			text-align: initial;
			color: $lightgrey;
		}
		p:not(.title) {
			padding-bottom: 5px;
		}
		div.row {

		}
	}
	p {
		font-size: 1.6em;
		padding-bottom: 30px;
	}
	h4 {
		font-size: 3em;
		@media screen and (min-width: $screen-sm-max) {
			width: 400px;
		}
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
	}
	object {
		height: 75px;
		width: 75px;
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}
}
footer.mobile {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 85px;
	.btn-red {
		font-size: 1.42em;
		letter-spacing: 0;
		line-height: 1.62em;
	}
	.app-dl {
		width: 124px;height: 38px;
		top: 0;right: 15px;
	}
}