.row.hairfie {
    .hairfie-picture {
        img {
            border-radius: 5px;
            max-width: 100%;
        }
        .share-button {
            position: absolute;
            bottom: 20px;
            right: 24px;
        }
        margin-bottom: 20px;
    }
    .hairfie-legend-container {
        padding-top: 0;
        .legend {
            background-color: white;
            border-radius: 5px;
            min-height: 100px;
            width: 100%;
            padding: 5px 10px 5px 10px;
        }
        .avatar {
            float: left;
            max-width: 45px;
            width: 20%;
            display: inline-block;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .author {
            margin-top: 10px;
            margin-left: 10px;
            display: inline-block;
            width: 70%;
            float: left;
            border-bottom: 1px solid $grey-separator;

            span {
                font-weight: 400;
                font-size: 16px;
            }

            .name {
                color: $black;
            }

            .date {
                color: $red-title;
                font-style: italic;
            }
        }

        .description, .business {
            padding-left: 54px;
        }

        .business {
            a {
                color: $black;
            }
        }

    }

    .hairfie-legend-container:before {
        content: "";
        min-width: 20px;
        max-height: 0px;
    }
}