header {
	a.menu-trigger {
		background: url(../images/mobile-menu.png) no-repeat center center;
		background-size: 90%;

		margin-top: 15px;
		@media screen and (max-width: $screen-xs-max) {
			margin-top: 25px;
		}
		width: 28px;
		height: 28px;
		margin-right: 15px;
		&.close {
			background: url(../images/mobile-menu-close.png) no-repeat center center;
			background-size: 90%;
			opacity: 1;
		}
	}
	$headerHeight: 60px;
	width: 100%;height: $headerHeight;
	background-color: transparent;
	font-size: 1em;
	.logo {
		background: url(../images/logo.png) no-repeat center center;
		width: 128px; height: 41px; margin-top: 9px;display: block;
		float: left; background-size: 100%;
	}
	div {
		height: inherit;
	}
	.user {
		color: white;
		// display: none;
		// visibility: hidden;
		img {
			height: 40px;width: 40px;
			border-radius: 100%;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			margin-top: -6px;
		}


	}
	nav {
		height: inherit;
		padding-right: 0 !important;
		ul {
			list-style-type: none;
			padding: 0;margin: 0;
			float: right; height: inherit;
			li {
				@media screen and (max-width: $screen-xs-max) {
					padding-top: 25px;
				}
				padding-top: 17px;padding-left: 20px;
				display: inline-block;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					// position: relative;
					// padding-right: 186px;
					// a {
					// 	position: absolute;
					// 	top:2px;
					// 	line-height: 1.6;
					// }
				}
				font-family: $font-main;
				font-weight: $semiBold;
				@media screen and (min-width: $screen-sm-min) {
					color: white; text-decoration: none;
				}
				font-size: 1.6em;
				letter-spacing: 1px;
				a {
					@media screen and (min-width: $screen-sm-min) {
						color: white;
					}
					&:visited,&:active,&:focus {
						text-decoration: none;
						@media screen and (min-width: $screen-sm-min) {
							color: white;
						}
					}
					&:hover {
						text-decoration: underline;
						@media screen and (min-width: $screen-sm-min) {
							color: white;
						}
					}
				}
			}
		}
	}
	&.white {
		background-color: white;

		.user {
			display: inline-block;
			visibility: visible;
		}

		> .row:first-child {
			@include fullWidthBg(#fff);

			&:after {
				height: $headerHeight;
			}
		}

		.logo {
			background: url(../images/logo-red.png) no-repeat center center;
			background-size: 100%;
		}
		nav ul li {
			a {
				color: $grey;
			}
			span {
				color: $grey;
			}
			// &:last-child {
			// 	position: relative;
			// 	padding-right: 182px;
			// 	a {
			// 		color: white;
			// 	}
			// }
		}
	}
}
.dropdown {
	font-weight:$regular;

	.dropdown-menu {
		border: 0;
		border-radius: 2px;
		@media screen and (max-width: $screen-xs-max) {
			left: -80px;
		}
		li {
			padding: 0;
			font-size: 1em;
			font-size: .7em;
			width: 100%;

			a {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 600;
				text-decoration: none;
				font-size: 1.6em;
				letter-spacing: 1px;
				display: block;
				width: 100%;
			}
		}
	}
}
header:not(.white) {
	.dropdown-menu {
		background: transparent;
		@include box-shadow(none);
		li {
			background: transparent;
		}
		a {
			color: white;
			&:hover {
				text-decoration: underline;
				background: transparent;
			}
		}
	}
}

.mobile-nav {
	position: relative;
	header {
		height: 85px;
		background-color: white;
		border-bottom: 1px solid #dbdbdb;
		margin-left: -15px; margin-right: -15px;
		width: 100vw;
		max-width: 100%; // fix-mobile horizontal scroll
		position: fixed; top: 0; z-index: 999;

		a.logo {
			background: url(../images/logo-red.png) no-repeat center left;
			background-size: 100%;
			margin-top: 20px;
		}
/* 		a.menu-trigger {
			background: url(../images/mobile-menu.png) no-repeat center center;
			background-size: 90%;
			margin-top: 25px;
			width: 28px;
			height: 28px;
			margin-right: 15px;
			&.close {
				background: url(../images/mobile-menu-close.png) no-repeat center center;
				background-size: 90%;
				opacity: 1;
			}
		} */
	}
	.mobile-menu {
		background-color: $bg3;
		position: fixed;
		left: 0;
		z-index: 99;
		top: 85px;
		height: 0px;
		width: 100vw;
		max-width: 100%; // fix-mobile horizontal scroll
		overflow-x: auto;
		// @include transition(all 0.5s ease-out);

		> .container {
		    overflow-x: scroll;
		    padding-bottom: 180px;
		}

		h2 {
			margin: 40px 0;
			font-family: $font-second;
			font-weight: $latoBold;
			font-size: 2.6em;
			letter-spacing: 4px;
			text-transform: uppercase;
			color: #535353;
			text-align: center;
		}
		.hr {
			width: 96px;
			height: 1px;
			background: #535353;
			margin: 0 auto 40px;
			display: block;
		}
		.searchbar {
			float: none;
			margin: 0 auto;
			input {
				width: 100%;
				height: 65px;
				margin-bottom: 20px;
			}
			.btn-red {
				height: 65px;
				line-height: 3em;
				border-radius:0;
				font-size: 1.6em;
				text-transform: uppercase;
			}
			.mobile-categories {
				padding: 0;
				select {
					width: 100%;
					background-color: white;
					height: 65px;
					border: 2px solid #e6e6e6;
					font-family: "Lato", sans-serif;
					font-weight: 700;
					font-size: 1.4em;
					letter-spacing: 2px;
					color: #c4c4c4;
				}
			}
		}
	}
}