nav.header {
    height: 100px;
    background-color: $grey-header;

    .container {
        height: 100%;
    }

    #formLogin {
        padding: 17px;
    }
}
.navbar-brand,
.navbar-nav li a  {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

#logo {
    width:138px;
    height:38px;
    margin-top: 32px;
}