header {
	a.btn-red {
		font-size: 1em;
		letter-spacing: .5px;
	}
	a.menu-search {
		background: url(../img/icons/search.svg) no-repeat center center;
		background-size: 90%;

		margin-top: 15px;
		@media screen and (max-width: $screen-xs-max) {
			margin-top: 25px;
		}
		width: 28px;
		height: 28px;
		margin-right: 15px;
		&.close {
			background: url(../img/icons/mobile-menu-close.svg) no-repeat center center;
			background-size: 90%;
			opacity: 1;
		}
	}
	a.menu-trigger {
		background: url(../img/icons/mobile-menu.svg) no-repeat center center;
		background-size: 90%;

		margin-top: 15px;
		@media screen and (max-width: $screen-xs-max) {
			margin-top: 25px;
		}
		width: 35px;
		height: 25px;
		margin-right: 15px;
		&.close {
			background: url(../img/icons/mobile-menu-close.svg) no-repeat center center;
			background-size: 90%;
			opacity: 1;
		}
	}
	$headerHeight: 60px;
	width: 100%;height: $headerHeight;
	background-color: transparent;
	font-size: 1em;
	.logo {
		background: url(../img/logo.png) no-repeat center center;
		width: 128px; height: 41px; margin-top: 9px;display: block;
		float: left; background-size: 100%;
	}
	div {
		height: inherit;
	}
	.user {
		color: white;
		img, object {
			background-color: white;
			height: 40px;width: 40px;
			border-radius: 100%;
			display: inline-block;
			vertical-align: middle;
			margin-right: 15px;
			margin-top: -6px;
		}


	}
	nav {
		height: inherit;
		padding-right: 0 !important;
		ul {
			list-style-type: none;
			padding: 0;margin: 0;
			float: right; height: inherit;
			li {
				@media screen and (max-width: $screen-xs-max) {
					padding-top: 25px;
				}
				padding-top: 17px;padding-left: 20px;
				display: inline-block;
				&:first-child {
					padding-left: 0;
				}
				font-family: $font-main;
				font-weight: $semiBold;
				@media screen and (min-width: $screen-sm-min) {
					color: white; text-decoration: none;
				}
				font-size: 1.6em;
				letter-spacing: 1px;
				a {
					@media screen and (min-width: $screen-sm-min) {
						color: white;
					}
					&:visited,&:active,&:focus {
						text-decoration: none;
						@media screen and (min-width: $screen-sm-min) {
							color: white;
						}
					}
					&:hover {
						text-decoration: underline;
						@media screen and (min-width: $screen-sm-min) {
							color: white;
						}
					}
				}
			}
		}
	}
	&.white {
		background-color: white;
		.user {
			display: inline-block;
			visibility: visible;
		}

		> .row:first-child {
			@include fullWidthBg(#fff);

			&:after {
				height: $headerHeight;
			}
		}

		.logo {
			background: url(../img/logo-red.png) no-repeat center center;
			background-size: 100%;
		}
		nav ul li {
			a:not(.btn) {
				color: $grey;
			}
			span {
				color: $grey;
			}
		}
	}
}
.dropdown {
	font-weight:$regular;

	.dropdown-menu {
		border: 0;
		border-radius: 2px;
		@media screen and (max-width: $screen-xs-max) {
			left: -80px;
		}
		li {
			padding: 0;
			font-size: 1em;
			font-size: .7em;
			width: 100%;

			a {
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 600;
				text-decoration: none;
				font-size: 1.6em;
				letter-spacing: 1px;
				display: block;
				width: 100%;
			}
		}
	}
}
header:not(.white) {
	.dropdown-menu {
		background: transparent;
		@include box-shadow(none);
		li {
			background: transparent;
		}
		a {
			color: white;
			&:hover {
				text-decoration: underline;
				background: transparent;
			}
		}
	}
}

.mobile-nav {
	position: relative;
	header {
		height: 85px;
		background-color: white;
		border-bottom: 1px solid #dbdbdb;
		margin-left: -15px; margin-right: -15px;
		width: 100vw;

		a.logo {
			background: url(../img/logo-red.png) no-repeat center left;
			background-size: 100%;
			margin-top: 20px;
		}
	}
	.mobile-menu {
		background-color: white;
		margin-left: -15px;
		width: 100vw;
		height: 0;
		overflow-x: auto;

		ul {
			margin: 0;
			li {
				height: 100px;
				border-top: 1px solid $grey;
				padding: 32px;
				text-align: start;
				font-size: 2.4em;
				color: $grey;
				font-weight: bolder;
				a {
					color: $grey;
					text-decoration: none;
				}
				&:hover {
					background-color: $grey;
					color: white;
					a {
						color: white;
					}
				}
			}
		}
	}
	.search-menu {
			padding-bottom: 30px;
			background-color: white;
			margin-left: -15px;
			width: 100vw;
			overflow-x: auto;
		h2 {
			margin: 40px 0;
			font-family: $font-second;
			font-weight: $latoBold;
			font-size: 2.6em;
			letter-spacing: 4px;
			text-transform: uppercase;
			color: #535353;
			text-align: center;
		}
		.hr {
			width: 96px;
			height: 1px;
			background: #535353;
			margin: 0 auto 40px;
			display: block;
		}
		.searchbar {
			float: none;
			margin: 0 auto;
			input {
				width: 100%;
				height: 65px;
				margin-bottom: 20px;
			}
			.btn-red {
				height: 65px;
				line-height: 3em;
				border-radius:0;
				font-size: 1.6em;
				text-transform: uppercase;
			}
			div.input-group {
				float: left;
				margin-bottom: 20px;
				input {
					width: 100%;
					margin: 0;
					padding-left: 15px;
					border-right: 0;
				}
				.input-group-addon {
					background: url(../img/icon-location.png) no-repeat center center;
					background-color: white;
					width: 60px;
					background-size: 40%;
				    border: 2px solid #e6e6e6;
				    border-left-width: 1px;
				}
			}
			.mobile-categories {
				padding: 0;
				select {
					width: 100%;
					background-color: white;
					height: 65px;
					border: 2px solid #e6e6e6;
					font-family: "Lato", sans-serif;
					font-weight: 700;
					font-size: 1.4em;
					letter-spacing: 2px;
					color: #c4c4c4;
				}
			}
		}
	}
}