nav.header {
    background-color: $grey-header;

    #formLogin {
        padding: 17px;
        min-width: 250px;
          input {
            margin-bottom: 5px;
          }
    }
}

@media (min-width: $screen-sm-min) {
    nav.header {
        height: 100px;

        .container {
            height: 100%;
        }
    }

    .navbar-brand,
    .navbar-nav li a  {
        line-height: 100px;
        height: 100px;
        padding-top: 0;
        font-weight: 200;
        font-size: 21px;
    }

    #logo {
        width:138px;
        height:38px;
        margin-top: 32px;
    }

    .dropdown-menu li a {
        line-height: 50px;
        height: 50px;
    }
}

@media (max-width: $screen-sm-min) {

    #logo {
        width:70px;
    }
}

img.profile {
    width: 50px;
    height: 50px;
}