/*////////////////////////////////
	      H E L P E R S
////////////////////////////////*/
.green {
	color: $green !important;
}
.red {
	color: $red !important;
}
.white {
	color: white !important;
}
.orange {
	color: orange !important;
}
.black {
	color: black !important;
}
@mixin transition($transition)
{
	-webkit-transition: $transition;
	-moz-transition:    $transition;
	-ms-transition:     $transition;
	-o-transition:      $transition;
}
@mixin box-shadow($string)
{
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}
@mixin scale($factor)
{
	-webkit-transform: scale($factor);
	-moz-transform: 	 scale($factor);
	-ms-transform: 		 scale($factor);
	-o-transform: 		 scale($factor);
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@mixin nofloat() {
	float: none !important;
}

@mixin hide() {
	display: none !important;
}

@mixin hr($color, $height, $margin)
{
	background-color: $color;
	height: $height;
	margin: $margin auto;
	float: none;
}
@mixin fullWidthBg($color)
{
	position: relative;
	&:before {
		content: " ";
		width: 200vw;
		height: 100%;
		position: absolute;
		left: -100vw;
		top: 0;
		background: $color;
		z-index: -1;
	}
	&:after {
		content: " ";
		width: 200vw;
		height: 100%;
		position: absolute;
		right: -100vw;
		top: 0;
		background: $color;
		z-index: -1;
	}
}
.socicon {
	font-family: 'socicon';
}
@mixin socicon($size,$color)
{
	font-family: 'socicon';
	font-size: $size;
	text-align: center;
	color: $color;
	&:hover, &:focus, &:active, &:visited {
		outline:none;
		text-decoration: none;
		color: $color;
	}
}