.home-bg {
    margin-top: -120px;
    bottom: 0;
    width: 100%;
    background: url(../img/background.jpg);
    padding-top: 100px;
}


.row.home {

    .left {
        margin-top: -60px;
        padding-top: 150px;
        text-align: center;
    }

    p {
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: 200;
    }

    @media screen and (min-width: $screen-md-min) {
        .left {
            height: 100%;
            margin-bottom: -60px;
        }
    }

    @media screen and (max-width: $screen-md-min) {
        h1 {
            font-size: 20px;
        }

        p {
            font-size: 16px;
        }
    }

    img#iphone {

        @media screen and (min-width: $screen-sm-min) {
            position: fixed;
            bottom: -100px;
        }
        @media screen and (max-width: $screen-md-min) {
            margin: auto;
        }
        width: auto;
        height: 100%;
    }

}

.btn-app-store {
    margin-top: 40px;

    .btn img {
        padding: 0;
        width:202px;
        height:64px;
    }
}

.btn-app-store .btn img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: auto;
}