section#txt {
    margin-top:80px;
    width:60%;
    float:left;
}

section#txt p {
    font-family: "source sans pro";
    width:90%;
    font-weight: lighter;
}
#txt >a {
    height:64px;
    width: 202px;
    display: block;
    margin-top:50px;
    margin-left: 200px;
}
img#btn-apple {
    width:202px;
    height:64px;
}

img#iphone {
    width:324px;
    height:511px;
    margin-top:50px;
}