.home-bg {
    margin-top: -60px;
    bottom: 0;
    width: 100%;
    background: url(../img/background.jpg);
    padding-top: 40px;
}

.row.home {
    > div {
        height: 100%;
        text-align: center;
    }
}

#txt {
    padding-top:80px;
    //float:left;
}

#txt p {
    width:90%;
    font-weight: 200;
}
#txt >a {
    height:64px;
    width: 202px;
    display: block;
    margin-top:50px;
    margin-left: 30%;
}
img#btn-apple {
    width:202px;
    height:64px;
}

img#iphone {
    max-width: 324px;
    width: 90%;
    margin-left: 5%;
    //margin-top:50px;
    // position: absolute;
    // bottom: 0;
}