.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
}

$icons: address "home@2x.png", phone "phone@2x.png", website "website@2x.png", timetable "timetable@2x.png", description "description@2x.png", right-arrow "right-arrow@2x.png", discount "discount@2x.png";

@each $icon in $icons {
  $key: nth($icon, 1);
  $value: nth($icon, 2);

  .icon-#{$key} {
    @extend .icon;
    background: url(/img/icons/#{$value}) no-repeat center;
    background-size: 20px 20px;
  }
}