body {
    font: 14px "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: $grey;
    background-color: $grey-body;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    height: 1000px;
}