html {
  position: relative;
  min-height: 100%;
}

body {
    font: 14px "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: $grey;
    background-color: $grey-body;
    margin-bottom: 60px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $grey-footer;
}

.social img {
    width:40px;
    margin: 10px;
}