/*////////////////////////////////
	   P A G E  S A L O N
////////////////////////////////*/

.salon#content.free {
	#carousel-salon .carousel-inner .item {
		height: 255px;
		&.placeholder {
			height: 255px;
		}
	}
}

.salon#content.basic {

}

.salon#content.premium {

}

.salon#content {
	h3 {
		color: $hairfie;
	}
	background-color: white;
	#carousel-salon {
		position: relative;
		.carousel-info {
			left: 0;
			right: 0;
			position: absolute;
			bottom: 0px;
			div {
				&:nth-child(2) {
					position: absolute;
    				right: 0;
    				bottom: 0;
				}
			}
			h1, a {
				color: white;
			}
			img {
				@media screen and (max-width: 1450px) {
					display: none;
				}
				z-index: 1;
				position: absolute;
				width: 14em;
				bottom: -60px;
				left: -120px;
				border-style: solid;
				border-width: 5px;
				border-color: white;
				border-radius: 100%;
			}
		}
		.carousel-inner .item {
			height: 470px;
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../img/placeholder-salon.png) repeat-x;
			background-size: cover;
			background: none;

			@media screen and (max-width: $screen-xs-max) {
				height: 320px;
			}

			img, a > img {
		  		margin: auto;
			}

			&.placeholder {
				height: 470px;
				background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)), url(../img/placeholder-salon.png) repeat-x;
			}

			img {
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: 50% 50%;
			    background-color: #838B95;
			    width: 100%;
			    height: 100%;
			}
		}
	}
	.main-content {
		position: relative;
		background-color: white;
		@include fullWidthBg($bg3);
		section.salon-info	{
			position: relative;
			width: 100%;
  			padding-top: 16px;

			a.btn {
				color: red;
    			border: solid;
    			border-width: 3px;
    			width: 100%;
   				border-radius: 20px;
			}
  			div.timetable {
  				font-size: small;
  				margin-top: 15px;
  				span {
  					padding: 0;
  				}
  				span.extra-small {
  					@media screen and (max-width: 480px) {
  						width: 20%;
  					}
  				}
  			}
			.row {
				padding-left: 35px;
				@media screen and (max-width: $screen-xs-max) {
					padding-left: 15px;
				}
			}
			.row:first-child {
				width: auto;
				padding-left: 35px;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				@media screen and (max-width: $screen-sm-max) {
					margin-top: 0;
					padding-left: 15px;
					border-radius: 0px;
				}
				h1 {
					margin-top: 0;
					color: white;
					margin-bottom: 35px;
					@media screen and (max-width: $screen-sm-max) {
						color: black;
					}
				}
			}

			.prix, .tags {
				font-size: 1.077em;
				letter-spacing: 1px;

				.small {
					font-size:0.9em;
					color: $font-color;
					&:hover {
						color: $font-color;
					}
				}

				span.glyphicon {
					color: $font-color; width: 1.4em;
				}
			}
		}
	}
	section.salon-content {
		margin-top: 20px;
		margin-bottom: 70px;

		h5 {
			font-family: $font-main;
		}

		> .row {
			background-color: white;
		}
		ul.nav {
			li {
				&:first-child {
					.icon-nav {
						background: url(../img/icon-salon-nav1.jpg) no-repeat center center;
					}
				}
				&:nth-child(2) {
					.icon-nav {
						background: url(../img/icon-salon-nav2.jpg) no-repeat center center;
					}
				}
				&:last-child {
					border-right: none;
					.icon-nav {
						background: url(../img/icon-salon-nav3.jpg) no-repeat center center;
					}
				}
			}
		}
		section {
			@media screen and (max-width: $screen-xs-max) {
				padding-left: 15px;
				padding-right: 15px;
			}
			padding-bottom: 35px;
			border-bottom: 2px solid $border-color;
			h4 {
				color: #343434;
			}
			h3 {
				margin-left: -15px;
			}
			.row {
				border-left-style: solid;
				border-color: $bg2;
				border-width: 5px;
				padding-left: 15px;
			}
			&:nth-child(4) {
				h4 {
					text-transform: uppercase;
					letter-spacing: 2px;
				}
				p {
					letter-spacing: 1px;
				}
			}
			.similar {
				margin-right: 0px;
				h4 {
					color: $hairfie;
				}
				a {
					text-decoration: none;
					p {
						color: black;
					}
				}
				padding-top: 15px;
				padding-bottom: 15px;
				background-color: $bg3;
			}
			.coiffeur {
				img {
					display: block;
					width: 14em;
					border-radius: 100%;
					margin: 0 auto 20px;
					border: 10px solid $bg2;
				}
				p > a {
					font-size: 1em;
					color: #343434;
					text-align: center;
					letter-spacing: 1px;
					width: 100%; display: block;

					&:hover {
						color: darken(#343434,10%);
						text-decoration: underline;
					}
				}
			}
			.table-price {
				border: 1px solid $border-color;
				margin-left: 0;
				div {
					border: 1px solid $border-color;
					padding: 12px 0 12px 24px;
					text-align: center;
					p {
						margin-bottom: 2px;
						text-align: left;
						color: #343434;
						font-size: 1.4em;
						span {
							text-decoration: underline;
						}
					}
				}
			}
		}
		#avis .row {
			padding-left: 15px;
			padding-right: 15px;
			border: 0;
			padding-bottom: 0;
		}
	}
	.sidebar {
		.btn-red, .btn-book {
			height: 46px;
			display: block;
			font-weight: $semiBold;
			font-size: 1.9em;
			width: 100%;
			margin-bottom: 20px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding-top: 10px;
			@include box-shadow(0px 1px 3px rgba(0,0,0,0.1));
			@media screen and (max-width: $screen-sm-max) {
				bottom: 0;
				left: 0;
				position: fixed;
				width:100%;
				z-index: 10000;
				margin-bottom: 0px;
			}
		}
		section#location {
			margin-top: 50px;
			.map {
				height: 247px;
				background: url(../img/placeholder-map.jpg) no-repeat center center;
				background-size:cover;
			}
		}
		margin-top: 12px;
		@include fullWidthBg($bg3);
		@media screen and (max-width: $screen-sm-max) {
			width: 100%;
		}
		.calendar {
			margin-bottom: 10px;
		@media screen and (max-width: $screen-sm-max) {
			display: none;
			}
		}
		.phone {
			margin-top: 95px;
			@media screen and (max-width: $screen-sm-max) {
    			bottom: 0;
    			left: 0;
   				position: fixed;
    			width:100%;
    			z-index: 9000;
			}
			.btn-phone {
				position: relative;
				width: 100%;
				height: 50px;
				color: $hairfie;
				font-size: 2em;
    			border: $hairfie;
			    border-width: 3px;
			    border-style: solid;
			    border-radius: 2px;
				&:after {
					content: " ";
					background: url(../img/phone-red.png) no-repeat center center;
					position: absolute;
					width: 25px;
					height: 25px;
					left: 50px;
					top: 10px;

					@media screen and (min-width: $screen-sm-max) and (max-width: $screen-md-max)  {
						left: 20px;
					}
					@media screen and (max-width: $screen-sm-min) {
						left: 20%;
					}
					@media screen and (max-width: $screen-xs-max) {
						left: 25px;
					}
				}
			}
		}

		.promo-sidebar {
			position: relative;
			img {
				border-radius: 5px;
			}
			.inline-promo {
				top: 0;
				position: absolute;
				font-size: 2.1em !important;
				text-align: center;
				color: white;
				width: 100%;
				margin-top: 30px;
				p {
					font-weight: bold;
					margin-top: 0;
					&:first-child {
						font-size: 3.1em;
					}
					&:nth-child(2) {
						margin-top: -30px;
					}
				}
				img {
					margin-top: 35px;
				}
				.icon-promo {
					float:none;margin-right: 10px;
				}
				@media screen and (max-width: $screen-xs-max) {
  					font-size: 1.6em !important;
				}
				@media screen and (max-width: $screen-sm-max) {
  					text-align: center;
				}
			}
		}
		.related-content {
			background: white;
			border-radius: 3px;
			border: 1px solid $border-color;
			@include box-shadow(0px 1px 3px rgba(0,0,0,0.1));
			padding: 5px 20px 0px 20px;
			margin-top: 15px;
			margin-bottom: 20px;

			@media screen and (max-width: $screen-sm-max) {
				margin-top: 0;
			}
			@media screen and (max-width: $screen-xs-max) {
				padding-left: 30px;
			}

			h5 {
				color: $darkgrey;
				font-size: 1.6em;
				border-bottom: 1px solid $border-color;
				padding-bottom: 15px;
				letter-spacing: 1px;
			}
			.rival {
				padding: 20px 0;
				border-bottom: 1px solid $border-color;
				&:last-child {
					border:none;
				}
				a:first-child {
					padding-left: 15px;
					padding-right: 15px;
					width: initial;
					float: left;
					overflow: hidden;
					@media screen and (max-width: $screen-xs-max) {
						padding-left: 0;
					}
				}
				a:nth-child(2) {
					font-size: 1.4em;
					color: $darkgrey;
					font-weight: $light;
					padding-left: 0;

					span:first-child {
						display: block;
						font-weight: $semiBold;
						letter-spacing: .5px;
						text-transform: uppercase;
					}
				}
				p:nth-child(3) {
					line-height: 26px;
					font-weight: $regular;
					color: $promo-color;
					text-align: left;
					padding-top: 45px;
					margin-bottom: 0px;

					.icon-promo {
						width: 26px;height: 26px;
						line-height: 26px;
						background-size: 100%;
						margin-right: 10px;
					}
				}
				p:nth-child(4) {
					padding-left: 38px;
					letter-spacing: .5px;
					display: inline-block;
  					margin-bottom: 0;
				}
			}
		}
		.networks {
			margin-bottom: 60px;
			@media screen and (max-width: $screen-xs-max) {
				padding-left: 0;
				padding-right: 0;
			}
			p {
				text-align: center;
				color:$font-color;
				font-size: 2.1em;
				font-weight: $regular;
				letter-spacing: 2px;
				margin-bottom: 0;
				margin-top: 0;
			}

			.social-links {
				padding: 20px;
				margin: 10px auto;
				width: 280px;
				margin-left: 8%;
  				margin-left: #{"calc(50% - 140px)"};
				li {
					margin-right: 10px;
					&:last-child {margin-right: 0;}
					a {
						width: 38px;
						box-sizing: border-box;
						color: $font-color;
						border-color: $font-color;
						position: relative;
						@include transition(all 0.25s ease);
						&:after {
							content: " ";
							position: absolute;
							width: #{"calc(100% + 4px)"};
							height: #{"calc(100% + 4px)"};
							border-radius: 100%;
							border: 2px solid $font-color;
							left: -2px;top: -2px;
							opacity: 0;
							@include transition(all 0.25s ease);
						}
						&:hover {
							@include transition(all 0.25s ease);
							color: $font-color !important;
							background-color: transparent !important;
							&:after {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
