/*////////////////////////////////
	    P A G E  R E S A
////////////////////////////////*/
#content.reservation {
	padding-top: 50px;
	padding-bottom: 50px;
	@media screen and (max-width: $screen-sm-max) {
		padding-top: 130px;
	}
	.sidebar {
		background: white;
		padding: 20px;
		@media screen and (max-width: $screen-sm-max) {
			margin-bottom: 40px;
		}
		.salon-bloc {
			a:first-child {
				display: block;
				width: 100%;
				max-height: 185px;
				overflow: hidden;
				@media screen and (max-width: $screen-sm-max) {
  					max-height: 255px;
				}
				img {
					max-height: 185px;
					width: auto; min-width: 100%;
					margin: 0 auto;
					@media screen and (max-width: $screen-sm-max) {
						max-height: 255px;
						min-width: auto;
						height: 100%;
					}
				}
			}
			.address-bloc {margin-top: 20px;}
		}
		.promo {
			margin-top: 20px; margin-bottom: 20px;
			margin-left: -20px;

			p {color: $promo-color;}
		}
		div:last-child {
			p {
				font-weight: $light;
				font-size: 1.4em;
				color: $font-color;
				line-height: 20px;
			}
			div {
				padding: 20px;
				border:1px solid #c9c9c9;
				h3 {
					color: $font-color;
					font-size: 1.6em;
					margin: 0;
					font-weight: $semiBold;
				}
				ul {
					margin-top: 10px;
					li {
						font-size: 1.6em;
						padding-left: 15px;
					}
				}
			}
		}
	}
	.main-content {
		padding-left: 30px;
		@media screen and (max-width: $screen-sm-max) {
			padding-left: 15px;
			float: none !important;
		}
		.legend {
			color: $font-color;
			font-weight: $regular;
			font-size: 1.231em;
			p {
				margin-bottom: 20px;
				letter-spacing: 1px;
				span {
					width: 25px;height: 25px;
					display: inline-block;
					background: $promo-color;
					margin-right: 5px;
					vertical-align: middle;
					margin-top: -2px;
					border-radius: 1px;
				}
				&:nth-child(2) {
					line-height: 25px;
				}
			}
		}

		.row {
			> div {
				h2 {
					font-size: 2.1em;
					font-weight: $regular;
					color: $font-color;
					margin: 20px 0;
					text-decoration: underline;
				}
				td {
					width: 50px;
				}
			}
			> div:nth-child(1) {
				@media screen and (max-width: 545px) {
					float: none !important;
					width: 100%;
				}
			}
			> div:nth-child(2) {
				padding-left: 62px;
				padding-right: 0;
				@media screen and (max-width: $screen-sm-max) {
					padding-left: 0px;
				}
				@media screen and (max-width: $screen-sm-max) {
					margin-right: -50px;
				}
				@media screen and (max-width: $screen-xs-max) {
					padding-left: 15px;
				}
				@media screen and (max-width: 545px) {
					float: none !important;
					width: 100%;
				}
				.time-table table {
					width: 100%;
					@media screen and (max-width: $screen-sm-max) {
						margin-right: -50px;
					}
					tbody {
						display: block;
  						margin-right: -10px;
  						border: none;
  						width: 100%;
  						@media screen and (max-width: $screen-sm-max) {
							margin-right: -50px;
						}
					}

					td {
						height: 54px;
						width: 74px;
						position: relative;
						display: inline-block;
						float: left;
						border:1px solid #e9e9e9;
						border-radius: 2px;
						text-align: center;
						margin: 3px; margin-left: 0;

						a {
							position: relative;
							line-height: 1.2;
							span {
      							@media screen and (max-width: $screen-sm-max) {
      								bottom: 2px;
								}
								@media screen and (max-width: $screen-sm-max) {
      								bottom: -28px;
								}
							}
						}

						p {
							position: absolute;
							top: 6px;
							width: 100%;
							font-size: 1em;
						}

						&.disabled {
							background: #efeff0;
							border-color: #efeff0;
							cursor: not-allowed;
							opacity: .7;
						}
					}
				}
			}
		}
	}
}
#content.reservation.bookingForm {

	color: $font-color;
	hr {border-color: #9a9a9a;}
	.legend.conf {
		p {
			margin-bottom: 10px;
			&:first-child {
				color: $red;
			}
		}
		.promo {
			border: 0;
			color: $promo-color;
			padding-left: 0;
		}
	}
	p, a, label, select {font-size: 1.4em;color: $font-color;}
	.legend.conf + a {
		text-decoration: underline;
		margin-top: -2em;
		&:hover, &:active {color: $font-color}
		@media screen and (max-width: $screen-xs-max) {
			float: none !important;
		}
	}
	.confirm-bloc-form {
		float: none;
		margin: 0 auto;
		a:first-child {
			text-decoration: underline;
			&:hover, &:active {color: $font-color}
		}
		a.facebook-connect {
			width: 100%;
			display: block;
			height: 40px;
			line-height: 40px;
			font-weight: $light;
			text-align: center;
			color: white;
			font-size: 1.4em;
			margin-top: 20px;
			//#gradient@include vertical(#5973aa; #425f9c;);
        	@include gradient-vertical(#5973aa, #425f9c);

			&:hover, &:active {text-decoration: none;}
		}
		p.center {
			text-align: center;
			line-height: 45px;
		}
		form {
			input, select {
				height: 30px;
				background-color: white;
				border: 1px solid #eeeeee;
				line-height: 30px; margin-bottom: 10px;
				&:focus {
					outline: none;
				}
			}
			select {font-size: 1em;border-radius: 0 !important;}
			label {
				width: 100%;
				// padding-left: 40px;
				.icon {
					background: url(../images/icon-resa-user.png) no-repeat center left;
					width: 16px;height: 16px;display: inline-block;
					position: absolute; left: 0; top: 3px;
				}
				&[for="infos"] {
					select {
						margin-right: 28px;
						@media screen and (max-width: $screen-sm-max){
							margin-right: 20px;
						}
						@media screen and (max-width: $screen-xs-max){
							margin-right: 17px;
						}
					}
					padding-left: 13px;
					input {
						margin-right:13px;
						&:last-child {
							margin-right: 0;
							padding-left: 13px;
						}

					}
				}
				&[for='email'] {
					.icon {
						background:url(../images/icon-resa-mail.png) no-repeat center left;
						width: 17px;
					}
				}
				&[for='phone'] {
					.icon {
						background:url(../images/icon-resa-phone.png) no-repeat center left;
						width: 17px;
					}
				}
				&[for='discount'] {
					padding-left: 0;
					.icon {
						display: none;
					}
					p.inline {display: inline-block;width: auto;font-size: 1em;font-weight: $light;}
					input {width: 60%;}
					button {
						position: absolute; right: 15px;top: 0;
						height: 30px;width: 40px; line-height: 10px;
						background: white;
						border:1px solid #eeeeee;
						border-radius: 0;
					}
				}

			}
		}

	}
	label[for='cgu'] {
		display: block;
		float:none;
		font-weight: $light;
		a {
			font-size: 1em;
			color: $font-color;
		}
		@media screen and (max-width: $screen-xs-max) {
			padding-left: 30px;
		}
		input[type="checkbox"] {
			left: 0;
			margin-left: 20px;
			opacity: 0;
			cursor: pointer;
			width: 17px;height: 17px;
			top: -1px;
		}
		span {
			width: 17px;
			height: 17px;
			padding-left: 0;
			padding-right: 30px;
			display: inline-block;

			&:before {
				width: 17px;
				height: 17px;
				left: 0;
			}
			&:after {
				width: 17px;
				height: 17px;
				left:1px;
			}
		}
	}
	.btn-red {
		display: block;
		margin: auto;
		margin-bottom: 15px;
		border-radius: 5px;
		text-align: center;
		text-transform: uppercase;
		width: 325px;
		font-size: 1.9em;
		height: 55px;
		line-height: 40px;
		font-weight: $semiBold;
		color: white;
		@include box-shadow(0 1px 5px rgba(0,0,0,0.2));
	}
}

#content.reservation.confirmation {
	.row {
		.infoFrame {
			p {
				font-size: 1.2em;
			}
			ul {
				list-style: initial;
  				list-style-position: inside;
				li {
					font-size: 1.2em;
				}
			}
			margin-top: 25px;
			border-color: $grey;
			border-width: 1px;
			border-style: solid;
			padding: 10px;
			overflow: auto;
			div.separate {
				&:first-child {
					border-right: solid;
					border-width: 1px;
					border-color: $grey;
				}
				&:nth-child(2) {
					border-left: solid;
					border-width: 1px;
					border-color: $grey;
					left: -1px;
					padding-right: 0;
					a {
						font-size: 1.4em;
					}
				}
			}
		}
		.buttonPanel {
			a {
				margin-top: 5px;
				text-align: center;
				&:first-child {
					margin-right: 4%;
				}
				&:first-child, &:nth-child(2) {
					width: 48%;
					float: left;
				}
				&:nth-child(3) {
					margin-left: 16%;
					margin-right: 8%;
				}
				&:nth-child(3), &:nth-child(4) {
					width: 30%;
					margin-bottom: 5px;
					float: left;
				}
				&:nth-child(5) {
					width: 30%;
					display: block;
					clear: both;
					margin-left: 35%;
				}
			}
		}
	}
}