/*////////////////////////////////
       P A G E  S E A R C H
////////////////////////////////*/
#content.search {
    .hairfie-search-newsletter {
        margin-top: -5px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        .newsletter-banner {
            p {
                @extend .col-xs-12,.col-sm-6;
                font-size: 1.5em !important;
                @media screen and (max-width: $screen-sm-max) {
                    font-size: 1.1em !important;
                }
            }
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        margin-top: 60px;
        padding-bottom: 60px;
    }
    .breadcrumb {
        margin: 15px 0 0 15px;
        padding-left: 0;
        font-size: 1.2em;
        letter-spacing: 1px;
        color: $font-color;
        .active {
            color: darken($font-color, 25%);
            position: relative;
            &:after {
                content: " ";
                width: calc(100% - 20px);
                position: absolute;
                height: 1px;
                bottom: -1px;
                right: 0;
                background: darken($font-color, 20%);
            }
        }
        a {
            color: $font-color;

        }
        @media screen and (max-width: $screen-sm-max) {
            margin-left: 0px;
        }
        @media screen and (max-width: $screen-xs-max) {
            margin-left: 10px;
        }
    }
    .new-filters {
        position: fixed;
        z-index: 201;
        left: 0;
        top: 0;
        background-color: #f4f4f4;
        height: 100%;
        padding-bottom: 65px;
        max-width: 100%;
        overflow-x: hidden;
        width: 100%;
        font-size: 1em;
        background-color: white;
        color: $grey7;
        font-size: 1.5em;
        .filter-header {
            background-color: $bg4;
            font-size: 0.8em;
            height: 60px;
            text-transform: uppercase;
            padding-left: 10px;
            @include flex-center;
            text-align: left;
            border-bottom: 1px solid $grey5;
            .header-title {
                max-width: 60%;
            }
        }
        .location, .business-name {
            padding: 15px 10px 20px 10px;
            border-bottom: 1px solid $grey5;
            input {
                border-top-width: 1px;
                outline: none;
                -webkit-appearance: none;
            }
            .input-group {
                margin: 10px 0 10px 0;
                height: 40px;
                //Location input
                .form-control {
                    height: 40px;
                    border-radius: 2px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-color: $grey5;
                    color: $grey7;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    -webkit-transition: none;
                    -o-transition: none;
                    transition: none;
                    margin-top: 0px;
                }
                .input-group-addon {
                    border-radius: 2px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-color: $grey5;
                    padding: 6px 17px;
                    a {
                        content: ' ';
                        background: url(../img/search/search-slim.svg) no-repeat center center;
                        background-size: contain;
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                    }
                }
            }
            //Business name input
            .form-control {
                height: 40px;
                border-radius: 2px;
                border-color: $grey5;
                color: $grey7;
                -webkit-box-shadow: none;
                box-shadow: none;
                -webkit-transition: none;
                -o-transition: none;
                transition: none;
                margin-top: 10px;
            }
            .btn-around {
                background-color: $bg4;
                color: $grey7;
                font-weight: $light;
                width: 100%;
                height: 40px;
                border: 1px solid $grey5;
                border-radius: 2px;
                &:before {
                    content: ' ';
                    background: url(../img/search/location-new.svg) no-repeat center center;
                    background-size: contain;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    left: calc(50% - 65px);
                }
            }
        }
        .filters-category {
            display: block;
            height: 50px;
            border-bottom: 1px solid $grey5;
            line-height: 50px;
            padding-left: 10px;
            padding-right: 10px;
            color: $grey7;
            &:hover {
                text-decoration: none;
            }
            &:after {
                content: '›';
                float: right;
                font-family: $font-second;
                font-size: 1.5em;
            }
            .tag-count {
                color: white;
                font-weight: $regular;
                background-color: $hairfie;
                margin-left: 5px;
                padding: 1px 5px;
                border-radius: 3px;
            }
        }
        .checkbox-inline {
            height: 35px;
            line-height: 35px;
            font-weight: $light;
            padding-left: 30px;
            display: block;
        }
        .checkbox-inline + .checkbox-inline {
            margin-left: 0;
        }
        .promo-line {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid $grey5;
            input[type="checkbox"] + span {
                padding-left: 25px;
            }
            &:before {
                content: ' ';
                background: url(../img/search/icon-promo.png) no-repeat center center;
                background-size: contain;
                width: 18px;
                height: 18px;
                position: absolute;
                left: 33px;
                top: 17px; 
            }
        }
        .filter-footer {
            position: fixed;
            bottom: 0;
            background-color: $bg4;
            height: 60px;
            width: 100%;
            padding: 10px 5px 10px 5px;
            @include box-shadow (0px -2px 5px rgba(0,0,0,0.1));
        }
        .btn-red {
            margin: 0 5px 0 5px;
            border-radius: 0;
            letter-spacing: 0;
            height: 40px;
            line-height: 28px;
            font-size: 1em;
            font-weight: $light;
            &.semi {
                width: calc(50% - 10px);
            }
            &.full {
                margin-left: 0;
                width: 100%;
            }
            &.previous {
                position: absolute;
                top: 10px;
                right: 10px;
                @include flex-center;
                &:before {
                    content: '<';
                    line-height: 28px;
                    float: left;
                    font-family: $font-second;
                    font-size: 1.5em;
                    margin-right: 5px;
                }
            }
            &.close-filters {
                position: absolute;
                top: 10px;
                right: 10px;
                @include flex-center;
            }
        }
    }
    .subfilters {
        z-index: 202;
        font-size: 1em;
        .filter-line {
            line-height: 40px;
        }
    }
    .main-content {

        .search-content {
            @include fullWidthBg($bg3);
        }

        .header-part {
            padding:0;
            .cover {
                border-radius: 3px;
                display: block; width: 100%;
            }
            h1 {
                margin: 20px 0;
                letter-spacing: 2px;
                font-weight: $semiBold;
                font-size: 21px;
                margin-top:25px;
                margin-bottom:25px;
                @media screen and (max-width: $screen-xs-max) {
                    margin: 5px 0 20px 10px;
                    margin-top:5px;
                    margin-bottom:20px;
                }
            }
            p {
                font-weight: $light;
                font-size: 1.4em;
                letter-spacing: 1px;
                margin-bottom: 30px;
            }
            div {
                display: inline-block;
                float: left;
                margin: 0;
                padding-top: 1.2em;
            }
            .mobile-description {
                font-size: 1.4em;
                margin-left: 10px;
                margin-right: 10px;
                letter-spacing: 0;
            }
            .btn-expand {
                background-color: $hairfie;
                font-size: 1.4em;
                color: white;
                border-radius: 5px;
                padding: 0px 5px 0px 5px;
            }
        }
        .nav {
            @media screen and (max-width: $screen-xs-max) {
                margin-left: 0px;
                margin-right: 0px;
                li {
                    height: 52px;
                    a {
                        height: 50px;
                        line-height: 52px;
                        vertical-align: middle;
                        padding: 0;
                        color: $grey;
                    }
                    &.active a {
                        color: $hairfie;
                    }
                }
                .icon-nav {
                    top: 16px;
                    left: 15%;
                    width: 15px;
                    height: 15px;
                }
            }
            li {
                @media screen and (max-width: $screen-xs-max) {
                    background-color: $bg3;
                    border: 1px solid $grey;
                    border-right-style: none;
                }
                &.active {
                    background-color: #FFF;
                }
                &:first-child {
                    .icon-nav {
                        background: url(../img/salon.svg) no-repeat center center;
                        background-size: contain;
                    }
                    &.active .icon-nav {
                        background: url(../img/salon-red.svg) no-repeat center center;
                        background-size: contain;
                    }
                }
                &:nth-child(2) {
                    .icon-nav {
                        background: url(../img/icon-search-nav2.png) no-repeat center center;
                    }
                }
                &:last-child {
                    .icon-nav {
                        background: url(../img/icons/mobile/hairfie.svg) no-repeat center center;
                    }
                    &.active .icon-nav {
                        background: url(../img/icons/mobile/hairfie-red.svg) no-repeat center center;
                    }
                }

            }
        }
        .filters {
            margin: 20px 0;
            padding: 20px 10px;
            border: 1px solid #dadbde;

            label {
                font-family: $font-second;
                font-weight: $regular;
                font-size: 1.2em;
                letter-spacing: 1px;
                line-height: 40px;
                margin: 0;
                position: relative;

                span {
                    padding: 15px 20px;
                    line-height: 1.2em;
                    display: inline-block;
                    background-color: $bgfooter;
                    color: white;

                    @media screen and (max-width: $screen-xs-max) {
                        width: auto;
                        text-align: center;
                    }
                }
                input, select {
                    -webkit-appearance: none;
                    background-color: white;
                    border: 0; border-radius: 0;
                    box-sizing: border-box;
                    font-family: $font-second;
                    font-weight: $regular;
                    font-size: 1.2em;
                    color: $font-color;
                    letter-spacing: 1px;
                    &:focus {
                        outline: none;
                    }
                    @media screen and (max-width: $screen-xs-max) {
                        width: 58%;
                    }
                }
                input {
                    padding-left: 15px;
                    @media screen and (max-width: $screen-xs-max) {
                        width: 68.5%;
                    }

                }
                select {
                    padding: 15px 40px 15px 15px;
                    line-height: 1;
                    position: relative;
                    cursor: pointer;
                }
                span.caret {
                    width: 12px;height: 8px;
                    background: url(../img/icon-chevron-down.png) no-repeat center center;
                    position: absolute;
                    top: 18px; right: 25px;
                    padding: 0;margin: 0;
                    @media screen and (max-width: $screen-xs-max) {
                        right: 30px;
                    }
                }
            }
            label[for="category"] {
                > div {
                    float: right;
                    @media screen and (max-width: $screen-xs-max) {
                        float:none !important;
                    }
                }

            }
        }

        .tab-pane section {
            padding-bottom: 20px;
            margin-bottom: 20px;

            &:after {
                content:" ";
                width: 96%;
                height: 1px;
                background: #d6d8db;
                position: absolute;
                bottom:0px;left: 15px;
                @media screen and (max-width: $screen-xs-max) {
                    width: 100%;
                    background-color: #F7F7F7;
                    left: 0px;
                }
            }
            img {
                display: block;
                width: auto;height: auto;
                margin: 0 auto;
                min-height: 0;
                max-height: none;
                width: 100%;
            }

            .rating {
                font-size: 1.2em;
                letter-spacing: 2px;
                width: 120px;
                .note {
                    font-family: $font-main;
                    color:$red;
                    font-size: 1.4em;
                    font-weight: $semiBold;
                    span {
                        font-size: 1.43em;
                    }
                }
                a {
                    font-size: 0.9em;
                    color: $darkgrey;
                    letter-spacing: 1px;
                    float:left;
                }

                @media screen and (min-width: $screen-xs-max) {
                    //float: right;
                }
                @media screen and (max-width: $screen-xs-max) {
                    width: 100%;
                    a {
                        font-weight: $semiBold;
                        font-size: 1.2em;
                    }
                    .star {
                        background-size: 100%;
                        width: 16px;
                        height: 16px;
                        margin-right: 2px;
                    }
                    .pull-right {
                        font-size: 1.3em !important;
                        float: none !important;     
                    }
                    .visible-xs {
                        display: inline-block !important;
                    }
                }
                
            }
            .inline-promo {
                @media screen and (max-width: $screen-xs-max) {
                    display: none;
                }
                text-align: left;
                line-height: 34px;
                font-size: 1.6em;
                font-weight: $regular;
                color: $promo-color;
                display: block;

                .icon-promo {
                    margin-right: 10px;
                }
                span.black {
                    margin-left: 3px;
                }
            }

            .btn-red, .btn-book {
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: $light;
                font-size: 1.9em;
                @media screen and (max-width: $screen-xs-max) {
                    margin: 0;
                }
            }
            .salon-hairfies {
                ul {
                    display: block;
                    width: 100%;
                    height: 55px;
                    margin-bottom: 13px;

                    li {
                        display: inline-block;
                        float: left;
                        max-width: 55px;
                        max-height: 55px;
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0;
                        }
                        a {
                            width: 100%;
                            display: block;
                            img {
                                min-height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .tab-pane#adom {
            margin-top: 20px;
            section {
                .image-bloc {
                    height: 100%;
                    img {
                        border-radius: 100%;
                        @media screen and (max-width: $screen-sm-max) {
                            width: 50%;margin: 20px auto;
                        }
                    }
                }
                .rating {
                    @media screen and (max-width: $screen-xs-max) {
                        top: -85%;
                        a {
                            color: $darkgrey;
                        }
                    }
                }
            }
        }
        .tab-pane#salons, .tab-pane#adom {
            .row {
                margin: 0;
                &:first-child {
                    @media screen and (min-width: $screen-sm-min) {
                        margin-top: 5px;                        
                    }
                }
            }
            a.extend-search {
                font-weight: 400;
                font-size: 1.5em;
            }
            .business-result { 
                margin-left: 0; margin-right: 0;
                margin-bottom: 20px;
                background-color: white;
                padding: 15px;
                height: 250px;
                cursor:pointer;
                &:hover {
                    @include box-shadow(0px 4px 5px 0px $grey);
                    @include transition (all 0.5s ease-out);
                }
                @media screen and (max-width: $screen-xs-max) {
                    padding: 16px 10px;
                    height: 156px;
                    margin-bottom: 0px;
                    border-bottom: 1px solid $grey;
                }
            }
            .image-bloc {
                display: inline-block;
                float: left;
                width: 220px;
                @media screen and (max-width: $screen-xs-max) {
                    width: 110px;
                    position: relative;
                    .icon-promo {
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        font-style: normal;
                        font-size: 1.2em;
                    }
                }
                overflow: hidden;
                img {
                    display: block;
                    min-height: 0;
                    max-height: none;
                    height: 220px;
                    width: 220px;
                    @media screen and (max-width: $screen-xs-max) {
                        width: 110px;
                        height: 124px;                    
                }
            }
            }
            .info-bloc {
                display: inline-block;
                position: relative;
                float: left;
                height: 220px;
                width: calc(100% - 240px);
                margin-left: 20px;
                .business-name > a {
                    text-decoration: none;
                    h3 {
                        font-size: 2.1em;
                        margin: 0 0 3px;
                        letter-spacing: 2px;
                        color: $darkgrey;
                        text-transform: uppercase;
                        font-weight: $semiBold;
                        width: calc(100% - 75px);
                    }
                }
                .business-address {
                    font-size: 1.4em;
                    letter-spacing: 1px;
                }
                .business-price-rating {
                    position: absolute;
                    right: 0;
                    top: 0;
                    p {
                        font-size: 1.8em;
                    }
                }
                .business-reviews {
                    margin: 5px 0 5px 0;
                    div {
                        display: inline;                        
                    }
                    > a > span {
                        line-height: 27px;
                        font-size: 1.4em;
                        color: $darkgrey;
                    }
                    img {
                        width: 120px;
                        margin: 0;
                        display: inline;
                    }
                    .mobile {
                        @include hide;
                    }
                    @media screen and (max-width: $screen-xs-max) {
                        .desktop {
                            @include hide;
                        }
                        .mobile {
                            display: block !important;
                        }
                    }
                }
                .business-label {
                    color: white;
                    background-color: $hairfie;
                    font-size: 1.6em;
                    padding: 5px;
                    margin-right: 5px;
                    margin-top: 5px;
                    display: inline-block;
                }
                .book {
                    bottom: 0px;
                    position: absolute;
                }
                .btn-hairfies {
                    @extend .btn;
                    //width: calc(50% - 5px);
                    border-radius: 0;
                    height: 39px;
                    background-color: white;
                    border: 1px solid $grey5;
                    color: $grey3;
                    font-weight: $regular;
                    font-size: 1.6em;
                    border-radius: 4px;
                    margin-left: 10px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-weight: $regular;
                    padding: 6px 12px;
                    &:hover {
                        @include transition(.25s ease-in-out);
                        color: white;
                        background-color: $hairfie;
                    }
                }
                @media screen and (max-width: $screen-xs-max) {
                    height: 124px;
                    width: calc(100% - 130px);
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 0.8em;
                    .btn-red, .btn-book {
                        display: block;
                    }
                    p {
                        float: left;
                        font-size: 1.6em;
                    }
                    .numHairfies {
                        margin-left: 20px;
                        i:before {
                            content: " ";
                            background: url(../img/icons/mobile/hairfie.svg) no-repeat center center;
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            margin-left: -15px;
                            //top: -5px;
                        }
                    }
                    .business-name > a {
                        h3 {
                            font-size: 2em;
                            text-transform: none;
                            letter-spacing: 0;
                            font-weight: $regular;
                            margin-bottom: 0;
                            width: 100%;
                        }
                    }
                    .business-address {
                        font-size: 1.5em;
                        letter-spacing: 0;
                        font-weight: $light;
                        line-height: 12px;
                        margin-bottom: 2px;
                        color: $lightgrey;
                        width: 100%;
                    }
                    .business-reviews {
                        margin: 0 0 5px;
                        a > img, > a > span, img, .stars {
                            float: left;
                            margin-right: 5px;
                        }
                        img {
                            width: 80px;
                            margin-top: 1px;
                        }
                        .yelp {
                            width: 40px;
                            margin-top: -5px;
                        }
                        .star.min {
                            background-size: 95%;
                        }
                        .star {
                            height: 16px;
                            width: 16px;
                        }
                        .stars {
                            height: 16px;
                        }
                        > a > span {
                            line-height: 16px;
                            font-size: 1.8em;
                            color: $darkgrey;
                        }
                    }
                    .business-price-rating {
                        position: initial;
                    }
                }
            }

        }
        .tab-pane#hairfies {
            section {
                &:after {
                    content:none;
                }
            }
            h3 {
                margin: 20px 0;
                text-transform: none;
                padding-left: 5px;
            }
            .btn-red {
                display: block;
                width: 250px;
                margin: 30px auto;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
    .mobile-filtres {
        overflow: scroll !important;
        -webkit-overflow-scrolling: touch !important;
    }
    .sidebar {
        background: white;
        @media screen and (max-width: $screen-xs-max) {
            padding-top: 0;
            z-index: 149;

        }

        .filter-recap {
            h2{line-height: 50px; }
        }

        .checkbox-inline + .checkbox-inline {
            margin-left: 0;
        }

        h1 {
            color: $font-color;
            font-weight: $semiBold;
            font-size: 1.462em;
            text-align: center;
            padding: 0;margin: 20px 0;
        }
        h2 {
            height: 50px;
            line-height: 50px;
            margin: 0;
            color: $font-color;
            font-weight: $light;
            font-size: 1.6em;
            letter-spacing: 1px;
            padding: 0 10px 0 25px;
            border-bottom: 1px solid $bg4;
            &:hover {
                cursor: pointer;
            }
            .chevron {
                float: right;
                font-size: 2em;
                @include rotate(90deg);
            }
        }
        h4 {
            color: $font-color;
            padding: 25px;
            border-bottom: 1px solid $bg4;
            margin-bottom: 0;
        }
        div.closed {
            > h2 {
                .chevron {
                    @include rotate(0deg);
                }
            }
            > div {
                display: none;
            }
        }
        .tag-list {
            padding: 10px 25px;
            border-bottom: 1px solid $bg4;
        }
        label {            
            color: $font-color;
            background-color: white;
            font-size: 1.4em;
            font-weight: $light;
            line-height: 25px;
            height: 25px;
            display: block;
            width: 100%;
            span {
                padding-top: 1px;
            }
        }
        .business-name {
            border-bottom: 1px solid $bg4;
            padding-bottom: 15px;
        }
        div.input-group {
            padding: 0px 25px;
            border-radius: 2px;
            background: white;
            height: 40px;

            input {
                height: 45px;
                -webkit-appearance: none;
                border:0;
                border: 1px solid $grey5;
                box-shadow: none !important;
                letter-spacing: 1px;
                // border-right: 0;
                &:focus {
                    outline: none !important;
                }
            }

            .input-group-addon {
                border: none;
                background: transparent;
                border: 1px solid $grey5;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-color: $grey5;
            }
            .input-group-addon:last-child {
                padding: 0;
                border-left: 0;
                background-color: $bg4;

                a {
                    background-image: url(../img/icon-search-glass.png);
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 50px; height: 40px; background-size: 40%;
                    display: inline-block;
                }
            }
        }     

        .btn-around {
            background-color: $bg4;
            color: $grey7;
            font-weight: $light;
            width: calc(100% - 50px);
            height: 40px;
            border: 1px solid $grey5;
            border-radius: 2px;
            margin: 15px 25px 0 25px;
            @include flex-center;
            justify-content: center;
            &:before {
                content: ' ';
                background: url(../img/search/location-new.svg) no-repeat center center;
                background-size: contain;
                width: 18px;
                height: 18px;
                position: absolute;
                left: calc(50% - 65px);
            }
        }
        .tag-count {
            color: white;
            font-weight: $regular;
            background-color: $hairfie;
            margin-left: 5px;
            padding: 1px 5px;
            border-radius: 3px;
        }
        .price, .radius {
            .selectRange {
                padding: 30px 12px;
                background: white;
            }
            p {
                font-size: 1.5em;
                font-weight: $semiBold;
                line-height: 1em;
                margin: 0; padding: 0;
                text-align: left;
                &:nth-child(3) {
                    text-align: right;
                }
            }
            .rangeslider {
                height: 11px;
                background: #e2e3e6;
                border:0;
                margin-bottom: 15px;

                .ui-slider-range {
                    height: 11px;
                    background: $red;
                }
                .ui-slider-handle {
                    top: -.55em;
                    cursor: pointer;
                    width: 22px;height: 22px;
                    border: 4px solid white;
                    border-radius:100%;
                    background:$red;
                    @include box-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));
                }
            }
        }
    }
    .mobile-search {
        position: relative;
        width: 100vw;
        .btn-red.trigger-filters {

        }
        
        .mobile-filtres {
            position: fixed;
            left: 0; z-index: 100;
            background-color: $bg3;
            height: 100%;
            padding-bottom: 65px;
            max-width: 100%;
            overflow-x: hidden;
            width: 100%;
            top: 100%;
        }
    }
    .business-label {
        color: white;
        background-color: $hairfie;
        font-size: 1.6em;
        padding: 5px 25px 5px 5px;
        margin: 15px 5px 10px 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
        span:nth-child(2) {
            font-size: 1.8em;
            font-weight: $light;
            position: absolute;
            top: -3px;
            right: 5px;
        }
    }
    @media screen and (max-width: $screen-xs-max){
        .business-label:first-child {
            margin-left: 10px;
        }
    }
}
.bg-white-xs {
    @media screen and (max-width: $screen-xs-max) {
        background-color: #FFF;
    }
}