/*////////////////////////////////
       P A G E  H O M E
////////////////////////////////*/

.landing {
    header {
        div.dark-header {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
    width: 100vw;
    @media screen and (min-width: $screen-sm-min) {
        header {
            background-color: inherit;
        }
        height: 500px;
        background: url(../img/home/photo-bg.jpg) no-repeat top center;
        background-size: cover;
    }
    @media screen and (max-width: $screen-xs-max) {
        background: url(../img/home/photo-bg.jpg) no-repeat bottom center;
        background-size: cover;
    }
    max-width: 100%; // fix-mobile horizontal scroll    
    text-align: center;
    position: relative;

    h1 {
        width: 100%;
        color: white;
        margin-bottom: 40px;
        font-weight: $regular;
        letter-spacing: 5px;
    }
    .headline {
        margin: 70px auto 0;
        @include nofloat;
        h1 {
            @media screen and (max-width: $screen-xs-max) {
                margin-top: 125px;
                font-size: 2.1em;
                letter-spacing: 1px;
                line-height: 1.3;
            }
        }
        p {
            letter-spacing: 1.34px;
            padding: 0 10%;
            @media screen and (max-width: $screen-xs-max) {
                display: none;
            }
        }
        .title-break {
            @media screen and (max-width: $screen-xs-max){
                display: none;
            }
        }
    }

        .search-group {
            margin: auto;
        }

        .btn-where {
            background-color: $bg1;
            width: calc(100% - 90px);
            height: 63px;
            line-height: 49px;
            border-radius: 0;
            color: #d6d6d6;
            font-size: 1.4em;
            font-family: $font-second;
            font-weight: $light;
        }
        .btn-around {
            width: 90px;
            height: 63px;
            background-color: $bg3;
            background-repeat: no-repeat;
            background-position: left;
            border-radius: 0;
            line-height:  12px;
            position: relative;
            padding-left: 30px;
            padding-top: 19px;
            color: #bababa;
            font-weight: $light;
            &:before {
                content: ' ';
                width: 20px;
                height: 20px;
                top: 22px;
                left: 4px;
                position: absolute;
                background: url(../img/icons/localisation-red.svg) no-repeat center center;
                background-size: contain;
                color: blue;
            }
        }

    .choice-large {
        @media screen and (max-width: $screen-xs-max){
                display: none;
        }
        .btn-red {
            height: 58px;
            font-size: 1.4em;
            text-align: center;
            padding: 0;
            margin: 10px;
            line-height: 30px;
            text-transform: uppercase;
            font-family: $font-main;
            font-weight: $latoBold;
            border-radius:0;
            padding: 16px 30px;
            border-radius: 0 !important;
            letter-spacing: 2px;
        }
    }
    .row.visible-xs {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 35px;
    }
}

section.how {
    height: 100px;
    h2 {
        padding-top: 24px;
        padding-bottom: 0;
    }
    object {
        display: inline-block;
    }
    .row > div {
        margin-bottom: 0;
        img {
            width: 100px;height: 100px;
            display: block;
            margin: 0 auto 40px;
        }
        h3 {
            font-family: $font-main;
            font-weight: $regular;
            color: $darkgrey;
            text-transform: uppercase;
            font-size: 1.6em;
            display: inline-block;
            margin: 0;
        }
        .how-txt {
            height: 100px;
            float: left;
            width: calc(100% - 40px);
            padding: 25px 5px 25px 10px;
        }
        p {
            font-weight: $light;
            color: $darkgrey;
            font-size: 1.4em;
            line-height: 1.2em;
            letter-spacing: 1px;
        }
    }
}

section.home-section {
    @media screen and (min-width: $screen-sm-min) {
        margin: 0 15px;
        padding-bottom: 40px;
    }
    
    //background:white;
    @include fullWidthBg(white);
    .row  {
        margin-left: 0;
        margin-right: 0;
    }
    h2 {
        font-family: $font-second;
        font-weight: $regular;
        letter-spacing: 3px;
        padding: 30px 0 10px;
        margin: 0;
        font-size: 2.4em;
        color: $darkgrey;
    }
    p.subtitle {
        font-size: 1.6em;
        margin-bottom: 15px;
    }
    figure {
        overflow: hidden;
        background-color: $darkgrey;

        img {
            @include transition(all 0.25s ease-out);
        }

        figcaption {
            top: 0;left: 0;
            background: rgba(0,0,0,0.07);
            color: white;

            font-family: $font-main;
            font-weight: $semiBold;

            font-size: 1.6em;
            text-align: left;


            a {
                color: white;
                font-family: $font-main;
                font-weight: $regular;

                &:hover {
                    text-decoration: underline;
                }
                &:visited,&:active,&:focus {
                    color: white;
                    text-decoration: none;
                }
            }

        }
    }
    .btn.home-cta {
        display: block;
        margin: 40px auto 0;
        text-transform: uppercase; 
        @include nofloat;
    }
}

.landing .main-searchbar, .home-search .main-searchbar {
    padding: 10px;
    margin: 90px 15px 60px 15px;
    height: 80px;
    border: 1px solid $grey;
    > a:nth-child(1) {
        margin-right: 10px;
    }
    > div {
        padding-left: 0;
        &:nth-child(2) {
            padding-right: 0;
        }
    }
    input {
        @include placeholder($grey);
        height: 60px;line-height: 60px;
        margin-right: 0px; margin-left: -5px;
        border: 1px solid $grey5;
        font-weight: $regular;
        letter-spacing: 0px;
        font-size: 1.6em;
        &:first-child {
            margin-right: 10px;
        }
        &:nth-child(2) {
            margin-left: -5px;
        }
        
    }
    &.searchbar input {
        color: black;
    }
    .input-group-addon {
        border-radius: 0;
        border: 1px solid $grey5 !important;
        border-right: 0 !important;
    }
    .Select-control {
        border: 1px solid $grey5;
        font-weight: regular;
        font-size: 1.6em;
        letter-spacing: 0px;
        color: $grey;
    }
    .Select-placeholder {
        color: $grey;
        font-weight: $regular;
        letter-spacing: 0;
    }
    .searchbar {
        input {
            color: black;
        }
    }
    .btn-gender {
        @extend .btn;

        width: calc(50% - 5px);
        border-radius: 0;
        height: 60px;
        background-color: white;
        border: 1px solid $grey5;
        color: $grey3;
        font-weight: $regular;
        font-size: 1.6em;
        line-height: 46px;
        &:hover {
            @include transition(.25s ease-in-out);
            color: white;
            background-color: $hairfie;
            .icon-male {
                background-image: url(../img/home/homme-white.svg);
            }
            .icon-female {
                background-image: url(../img/home/femme-white.svg);
            }
        }
        .icon-male {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../img/home/homme.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-bottom: -5px;                             
            margin-right: 10px;                   
        }
        .icon-female {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../img/home/femme.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 10px;
            margin-bottom: -5px;                             
        }
    }
    .btn-red, .btn-book {
        height: 58px;
        font-size: 1.4em;
        text-align: center;
        padding: 0; margin-top: 1px;
        margin-left: -5px;
        line-height: 60px;
        @media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
            letter-spacing: 1px;
            font-size: 1.3em;
        }
    }
    @media screen and (max-width: $screen-sm-max) and (min-width: $screen-sm-min) {
        input {
            font-size: 1.6em;
        }
        .btn-red, .btn-book {
            letter-spacing: 1px;
            font-size: 1.0em;
        }
    }
}

section.home-search {
    .home-search-desktop {
        .nav-tabs {
            border: none;
            margin-bottom: -1px;
        }
        li {
            font-size: 1.3em;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: $regular;
            a {
                color: $grey;
                background-color: $bg4;
                border-bottom: 1px solid $bg4;
                margin-right: 0;
                height: 48px;
                border-radius: 0;
                line-height: 26px;
                &:focus {
                    outline: none;
                }
                .icon-hair-dryer {
                    position: absolute;
                    top: 15px;
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-image: url(../img/home/hairdryer.svg);
                    background-size: contain;                   
                }
                .icon-photo {
                    position: absolute;
                    top: 12px;
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    background-repeat: no-repeat;
                    background-image: url(../img/home/photo.svg);
                    background-size: contain;                   
                }
                div span:nth-child(2) {
                    margin-left: 25px;
                }
            }
            &.active {
                a {
                    //border-radius: 4px 4px 0 0;
                    height: 48px;
                    .icon-photo {
                        background-image: url(../img/home/photo-red.svg);                 
                    }
                    .icon-hair-dryer {
                        background-image: url(../img/home/hairdryer-red.svg);                 
                    }
                    color: $hairfie;
                    background-color: white;
                    //border-top: 3px solid $hairfie;
                    padding-top: 10px;
                }
                &:after {
                    content: " ";
                    height: 3px;
                    width: 100%;
                    background-color: $hairfie;
                    position: absolute;
                    top: -3px;
                    left: 0;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                }
            }
        }
    }
    
    .main-searchbar {
        margin: 0;
    }

    @media screen and (max-width: $screen-xs-max) {
        padding-left: 25px;
        padding-right: 25px;
    }

    .home-search-mobile {
        height: 40px;

        .btn-red {
            width: 100%;
            height: 58px;
            font-size: 1.4em;
            text-align: center;
            padding: 0;
            margin-top: 10px;
            line-height: 30px;
            text-transform: uppercase;
            font-family: $font-main;
            padding-top: 16px;
            border-radius: 0 !important;
        }
    }
}

#home section.categories {
    figure {
        width: 100%;              
        img {
            background-size: cover;
            background-position: center;
        }
        &:hover {
            @include transition(all 0.25s ease-out);

            img {
                @include scale(1.1);
            }
        }
    }
    figure, img {
        height: 120px;
        @media screen and (max-width: $screen-lg-min){
            max-height: 95px;
        }  
    }
    figcaption{

        font-size: 2.1em;
        text-align: center;
        a {
            width: 100%;
            height: 100%;
            display: block;
            line-height: 140px;
            position: relative;
            span {
                display: block;
                line-height: 1.4;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: $semiBold;

                width: 100%;
                height: 2.8em;
                top: 50%;
                //left: 50%;
                position: absolute;
                //margin-top: -0.8em;
                margin-top: -1.4em;
                //margin-left: -20%;
                &.oneline {
                    margin-top: -0.8em;
                }
            }
        }
    }
    .row + .row {
        margin-top: 15px;
        @media screen and (max-width: $screen-sm-min) {
            margin-top: 0 !important;
        }
    }
    .row {
        @media screen and (max-width: $screen-sm-min) {
            > div {
                margin: 10px 0px;
            }
        }
        .col-sm-3 {
            padding: 0;
            padding-right: 15px;
            &:nth-child(4) {
                @media screen and (max-width: $screen-sm-min) {
                    padding-right: 15px !important;
                }
            }

        }
    }
}
#home section.deals {
    .row > div {
        @include transition(opacity 0.5s);
        opacity: 1;
        &:hover {
            opacity: 0.85;
        }
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
        @media screen and (max-width: $screen-sm-max) {
            &:nth-child(2) {
                padding-left: 7px;
                padding-right: 7px;
            }
        }
        @media screen and (max-width: $screen-xs-max) {
            margin-top: 20px !important;
            &:nth-child(2) {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        @media screen and (max-width: $screen-xs-max) {
            padding: 0;
        }
    }
    figure {
        border-radius: 0;
        cursor: pointer;
        img {
            height: 275px;
            @media screen and (max-width: $screen-sm-max) {
                height:auto;
                min-height: 200px;
            }
        }
        figcaption {
            height: 40%;
            bottom:0; top: auto;
            background-color: rgba(0,0,0,0.35);
            padding: 12px;

            @media screen and (max-width: $screen-sm-max) {
                height:100% ;
                padding-top: 25%;
            }
            @media screen and (max-width: $screen-xs-max) {
                height:100% ;
                padding-top: 35%;
            }

            p {
                margin-bottom: 0;
            }
            .btn-red {
                font-size: 12px;
                padding: 3px 7px;
                letter-spacing: 1px;
                font-weight: $semiBold;
                line-height: 1.4;
                margin-top: 5px;
            }
            span {
                font-size: 20px;
            }
            a:first-child, a:nth-child(2) {
                display: block;
                letter-spacing: 2px;
            }
            a:first-child {
                text-transform: uppercase;
                margin-top: 10px;

                &:hover {
                    text-decoration: none;
                }
            }
            a:nth-child(2) {
                font-weight: $regular;
                font-size: .9em;
                margin-bottom: 5px;
            }
            .icon-promo {
                position: absolute;
                top: -130%; right: 20px;
                width: 60px; height: 60px;
                background-size: 100%; line-height: 60px;

                @media screen and (max-width: $screen-sm-max) {
                    width: 35px !important;
                    height: 35px !important;
                    line-height: 35px !important;
                    font-size: .9em !important;
                }
                @media screen and (max-width: $screen-sm-max) {
                    top: 15px;
                    right: 15px;
                    width: 60px; height: 60px;
                    line-height: 60px;
                    font-size: 1em;
                }
            }
            .stars {
                height: auto;
                .star {
                    margin: 2px;
                    height: 16px;
                    width: 16px;
                    cursor: default;
                    &:hover {
                        &:after {
                            opacity: 0 !important;
                        }
                    }
                }
                .avis {
                    font-size: 1em;
                    font-weight: $light;
                    letter-spacing: 1px;
                    line-height: 1;
                    float: none;
                }
            }
        }
    }
}

#home section.blog-posts {
    .post {
        img {
            max-width: 100%;
            max-height: 160px;
        }
        .picture-container {
            display: inline-block;
            overflow: hidden;
            width: 100%;
            a {
                width: 100%;
            }
        }

        &:hover {
            img {
                @include transition(all 0.25s ease-out);
                @include scale(1.1);
            }
        }

        .picture-caption a,  .picture-caption:hover a {
            text-decoration: none;
            color: $font-color;
        }

        h4 {
            font-size: 20px;
            display: block;
            letter-spacing: 2px;

            @media screen and (min-width: $screen-xs-max) {
                min-height: 70px;
            }
        }

        p, span {
            font-size: 14px;
            font-weight: $regular;
        }

        a.readmore, a.readmore:hover {
            text-decoration: underline;
            font-size: 14px;
        }
    }
}

#home section.hairfies {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .big {
        padding-left: 0;
        padding-right: 15px;
        @media screen and (max-width: $screen-xs-max) {
            padding-right: 0;
        }
    }
}
#home section:nth-child(odd) {
    background-color: $bg2;
    @include fullWidthBg($bg2);
}

#home section.download {
    @media screen and (min-width: $screen-xs-max) {
        height: 400px; width: 100vw;
        left: calc(-50vw + 50%);
        background: url(../img/bg-download-lite.jpg) no-repeat center center;
        background-size: cover;
        margin: 0;
    }

    p {
        font-size: 1.6em;
        font-family: $font-second;
        font-weight: $latoLight;
        color: $font-color;
 
        &.buttons {
            margin-top: 50px;
            text-align: center;
        }
    }

    .btn-apple {
     //width: 204px;
    }

    .container {
        display: table-cell;
        height: 400px;
        vertical-align: middle;
        padding-left: 134.5px;
        
        h2 {
            padding-top: 0;
        }
    }
}
#home section.seo {
    a {
        font-size: 1.6em;
        font-family: $font-second;
        font-weight: $latoLight;
        color: $font-color;
        letter-spacing: 1px;
        &:hover {color: $font-color;}
    }

}