/*//////////////////////////////////////////
       P A G E    N E W S L E T T E R
//////////////////////////////////////////*/

#content.newsletter {
    background-color: white;
    margin-top: 5%;
    font-size: 1.2em;
    padding: 5% 10% 5% 10%;
    margin-bottom: 10%;
    h3 {
        color: $hairfie;
    }
    p {
        font-size: 1.9em;
        font-family: $font-second;
    }
    ul { 
        font-size: 1.5em;
        font-family: $font-second;
        li {
            margin-left: 40px;
            .glyphicon {
                font-size: 0.7em;
                color: $hairfie;
            }
        }
    }
    .spam-note {
        font-size: 1.5em;
        color: $hairfie;
    }
    
    .success {
        border: 1px solid $green;
        border-radius: 2px;
        padding: 10px;
        font-size: 1.6em;
        color: $green;
        display: inline-block;
        margin-left: 15px;
    }
    @media screen and (max-width: $screen-xs-max) {
        margin-top: 10%;
        .success { 
            margin-top: 30px;
        }
        h3 {
            font-size: 1.8em;
            letter-spacing: 0;  
        }
        p {
            font-size: 1.5em;
        }
        ul {
            font-size: 1.2em;
        }
        .newsletter-legend {
            font-size: 1.6em !important;
            line-height: 25px;
        }
        .spam-note {
            font-size: 1.3em;
        }
    }
}