/*////////////////////////////////
	    V A R I A B L E S
////////////////////////////////*/
$red: #fc5a5f;
$green: #20af69;
$promo-color: #f39c12;
$border-color: #f9f9f9;
$bg1: #fff;
$bg2: #f0f0f1;
$bg3: #f4f4f4;
$bg4: #f7f7f7;
$bg5: #fcfcfc;
$bgfooter: #353535;
$grey: #c4c4c4;
$lightgrey: #898989;
$darkgrey: #595959;
$dark-header: #343434;
$lightblue: #84F0F3;
$font-color: #595959;
$font-main: 'Source Sans Pro', sans-serif;
$light: 200;$regular: 400;$semiBold: 600;
$font-second: 'Lato', sans-serif;
$latoLight: 300; $latoBold: 700;
$facebook-bg: #6980B0;
$twitter-bg: #14C4F8;
$hairfie: #fe5b5f;
$book: #00B0B9;
$book-darker: #007d83;
$book-lighter: #04C0CA;

$grey1: #aaaaaa;
$grey2: #dfdfdf;
$grey3: #a9aeb1;
$grey4: #b0b0b0;
$grey5: #e6e6e6;
$grey6: #848b95;
$grey7: #9a9a9a;
$grey8: #b9b9b9;
$grey9: #f8f8f7;