/*////////////////////////////////
	    V A R I A B L E S
////////////////////////////////*/
$red: #fc5a5f;
$green: #20af69;
$promo-color: #f39c12;
$border-color: #f9f9f9;
$bg1: #fff;
$bg2: #f0f0f1;
$bg3: #f4f4f4;
$bgfooter: #353535;
$grey: #c4c4c4;
$darkgrey: #595959;
$font-color: #595959;
$font-main: 'Source Sans Pro', sans-serif;
$light: 200;$regular: 400;$semiBold: 600;
$font-second: 'Lato', sans-serif;
$latoLight: 300; $latoBold: 700;
$facebook-bg: #6686D0;
$twitter-bg: #14C4F8;
$hairfie: #fe5b5f;