.home-pro {
    width: 100%;
    min-height: 100%;
    background: url(../img/bg-landing-pro.jpg);
    background-position: no-repeat center center fixed;
    background-size: cover;
    font-size: 14px;

    li {
        color: white;
        span, strong {
            color: black;
        }
    }

    .row {
        .claim {
            color: white;
            padding: 30px;
            margin-bottom: 100px;

            h3 {
                margin-top: 60px;
                font-size: 2.1em;
            }
            p {
                font-size: 1.2em;
                font-weight: 200;
            }
            .form-horizontal {
                .form-group {
                    padding-right: 15px;
                }
            }

            .form-group {
                margin-bottom: 5px;
                padding-left: 0;
                .radio-label {
                    float: left;
                    padding-left: 15px;
                    padding-right: 10px;
                    line-height: 35px;
                    text-align: left;
                }
                .radio-inline {
                    margin-right: 5px;
                }
                .form-control {
                    min-height: 50px;
                    line-height: 20px;
                    border-radius: 0;
                }
            }
            label {
                margin-bottom: 5px;
                margin-top: 10px;
            }
            .second-form {
                width: 65%;
                margin-top: -25px;
            }
            .btn-red {
                font-weight: 200;
                font-size: 1.2em;
                letter-spacing: 0;
                text-transform: uppercase;
                height: 50px;
                width: 48%;
                margin-top: 20px;
                border-radius: 0;
                @media screen and (max-width: $screen-sm-max) {
                    font-size: 1.1em;
                }
            }
            .success {
                border: 1px solid #20af69;
                border-radius: 2px;
                padding: 10px;
                font-size: 1.3em;
                color: #20af69;
                display: inline-block;
                //margin-left: 15px;
                //margin-top: 15px;
                margin: 15px 30px 0px 15px;
            }
            .contact {
                margin-top: 40px;

                a {
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        height: 100%;
        margin-bottom: 0px;
        .row {
            h1 {
                font-size: 20px;
                text-align: center;
            }

            li {
                font-size: 18px;
            }
            .claim {
                .form-group {
                    .radio-label {
                        width: 35%;
                        line-height: 47px;
                        margin-right: 10px;
                    }
                }
                .second-form {
                    width: 100%;
                }
                .btn-red {
                    width: calc(100% - 15px);
                }
            }
        }
    }
    @media screen and (min-width: $screen-sm-min) {
        height: 100%;
        margin-bottom: 0px;
    }
}
.advices {
    padding-bottom: 125px;
    h3 {
        margin-top: 80px;
        margin-bottom: 40px;
    }
    h5 {
        text-transform: uppercase;
        font-size: 1.8em;
        margin-top: 15px;
        margin-bottom: 25px;

    }
    div .col-sm-6 {
        margin-top: 30px;
    }
    p {
        font-size: 1.5em;
        padding-left: 10%;
        padding-right: 10%;
    }
}