.home-pro {
    margin-top: -120px;
    //bottom: 0;
    width: 100%;
    min-height: 100%;
    background: url(../img/background-pro-trans.jpg);
    background-position: no-repeat center center fixed;
    padding-top: 100px;
    background-size: cover;
    font-size: 14px;

    @media screen and (min-width: $screen-sm-min) {
        height: 100%;
        margin-bottom: 0px;
    }

    li {
        color: white;
        span, strong {
            color: black;
        }
    }

    .row.first {
        margin-top: 40px;

        .claim {
            background-color: rgba(255,255,255,0.8);
            padding: 30px;
            margin-bottom: 100px;
            //margin-top: 30px;

            @media screen and (max-width: 768px) {
                //margin: 30px;
                //margin: auto;
                margin-top: 150px;
            }

            h3 {
                margin-top: 0px;
                font-size: 20px;
            }

            .form-group {
                margin-bottom: 5px;
            }

            .btn-red {
                font-weight: 200;
            }

            .contact {
                margin-top: 40px;

                a {
                    color: black;
                    font-weight: bold;
                }
            }
        }

        @media screen and (max-width: $screen-sm-min) {
            h1 {
                font-size: 20px;
                text-align: center;
            }

            li {
                font-size: 18px;
            }
        }

    }
}